[2019-03-18 12:24] rcjackson opened #3 "Dependencies need to be agreed upon"
Currently, ACT has the following dependencies:

* Numpy
* Xarray
* Matplotlib
* Astral (for shading in day vs night in timeseries plots)

as well as the packages these depend on such as scipy and pandas. We should agree about what dependencies ACT should have.

[2019-03-18 14:11] AdamTheisen commented on #3
We could always look and see if something better could take the place of astral.  That's just what was used in the DQ Office for the shading.

We might also want to think about cartopy as well as I can see some contour plotting of data at SGP to be useful.

[2019-03-20 01:40] AdamTheisen commented on #3
Just thinking, would there be a reason to have py-art as a dependency?

[2019-03-21 13:05] scollis commented on #3
I would add it later when we flesh out some more stuff on the radars. I think the radar mentors will be a later adopter of this this technology.

[2019-03-21 21:20] rcjackson opened #6 "Need to find way to unit test discovery module safely"
Currently, the discovery module takes in a user specified username and token as a string, but if we want to do unit testing on this module having these hard coded in the unit test is troublesome. Having a more secure way to log into the ARM Archive for testing would enable us to do this unit test safely.

In addition, due to the size of 2D datasets such as celiometer data, I would like to add a un

[2019-03-21 21:24] scollis commented on #6
Two ways we can do this:
1) Boto has a “fake” mode we could replicate this.
2) work with Giri to make a test account with distributable let’s that has limited access to files

-sent from a mobile device-

[2019-03-22 19:31] kenkehoe opened #8 "Using act object attributes to store important information"
I've tried to use the ACT plotting library to plot data that I read with my xarray wrapper routine. To my surprise the plotting routine is expecting some hidden object attributes set during the ACT reading process. Namely the act.file_dates. I don't think we should expect the user to use the ACT reading routine, so we should not have any necessary hidden information.

My current issue is with the

[2019-03-22 19:34] kenkehoe commented on #3
If you want to use xr.open_mfdataset to read more than one file at a time or to use the parallel feature you will also need dask.

[2019-03-24 10:47] rcjackson opened #11 "Clean way to store multiple objects in display object"
Another issue that I need to get working on is to have a cleaner way to plot data from multiple objects at a time in one display. Right now you have to merge objects, but it would be nicer to have the display object natively support the display of data from more than one object at a time so that the user does not have to make a new object and hog up memory and resources.

[2019-03-25 16:00] AdamTheisen opened #12 "Auto Day/Night Background with 1D time Series"
Right now, the day/night background is automatically displayed if the variable is a 1d time series and there's no "ydata".  Should we remove this and leave up to users to display background?

 if ydata is None:
            self.day_night_background(subplot_index)
            ax.plot(xdata, data, '.', color=line_color)
...

[2019-03-25 16:05] rcjackson commented on #12
Not every timeseries will lend itself to having a day/night background make sense.  This is especially true if the timestep is on the order of once or less a day. Therefore I would make it a user settable flag and disable it by defauly.

________________________________
From: Adam Theisen <notifications@github.com>
Sent: Monday, March 25, 2019 11:00:14 AM
To: ANL-DIGR/ACT
Cc: Subscribed
Subject: [

[2019-03-25 16:22] AdamTheisen opened #13 "Figsize Not Working Correctly"
While we have figsize in an example, I don't think it is actually being used in the plotting script.  Changing figsize in the example below does not actually change the plot size

display2 = act.plotting.TimeSeriesDisplay(new,figsize=(8,5))
display2.plot('backscatter')

[2019-03-25 16:43] kenkehoe commented on #11
When you use xr.align it will create a tuple of objects that have each object aligned with the time dimension. Since xarray already has this idea of a tuple of xarray objects I suggest looking into this method of containerizing multiple xarray objects. I have written some code that we will use to extract data from the object (and do some other QC stuff when requested). It can auto detect if the co

[2019-03-25 16:45] kenkehoe commented on #8
I've update my code to look for datastream as a global attribute. If one does not exist I add __datastream. This would allow viewing the required information from downstream tools and a way for the information to be added to the object without the need to add act hidden variables. My downstream tool will check for both datastream and __datastream.

[2019-03-26 20:27] kenkehoe commented on #8
I see the plotting routine was updated to not use the act object date range attributes, but it looks like it is still using the act object datastream attribute. I can set it using the act object setter method but I think we should not use that as it makes debugging the plot title more difficult.

[2019-03-27 12:37] rcjackson commented on #11
The way I'm thinking of doing this is using a dictionary with string keys that map to each datastream. For example, if we have 2 xarray objects ds1 and ds2, the input can be:

input_dict = {'ds1_name': ds, 'ds2_name': ds}

In the case of one dataset, I can make the class constructor automatically generate the dictionary based on the datastream name if the user does not provide a dictionary for one

[2019-03-27 15:16] rcjackson opened #15 "Wind rose and sounding plots."
In addition to a TimeSeriesDisplay, we need to have a WindRoseDisplay and a SkewTDisplay object. This needs to be done by the ARM-ASR PI meeting as a demonstration that shows that Paytsar is able to use it for her data.

For Skew-T plots, I am thinking of introducing metpy as a dependency since it does these really well.

[2019-03-29 02:03] kenkehoe commented on #11
I think the storing of keys in the dictionary is nicer for finding the correct object, but it's different than the current method xarray already implements. Do we want to deviate from the base xarray functionality?

As long as it's documented well enough we can transform a tuple of objects to a dictionary of objects quite simply. I think you plan is worth trying.

[2019-03-29 14:26] rcjackson commented on #11
The only issue I see with using xr.align is if we display two datasets that have the same variable name, but are from different instruments from the same site. In this case, I don't know how the names would be handled by the align.

I'm my draft version of the new display object (which I'll do a PR on today and request a review from you), I have it taking in either a tuple or a dict when taking in

[2019-03-29 14:34] rcjackson commented on #11
If you merge another dataset (or a dictionary including data array objects), by default the resulting dataset will be aligned on the union of all index coordinates:

In [12]: other = xr.Dataset({'bar': ('x', [1, 2, 3, 4]), 'x': list('abcd')})

In [13]: xr.merge([ds, other])
Out[13]:
<xarray.Dataset>
Dimensions:  (x: 4, y: 3)
Coordinates:
  * x        (x) object 'a' 'b' 'c' 'd'
  * y        (y) int

[2019-03-29 17:05] kenkehoe commented on #11
I think plotting the two or more datasets where they use the same variable name will actually be common. For example plotting all the SGP MET temp_mean values on the same plot. That is where xr.align would work but xr.merge would not. xr.merge puts all data in the same object, while xr.align will keep the objects separate. Also, there will be many cases where the data to be plotted will have diffe

[2019-04-02 20:48] kenkehoe opened #18 "reading csv into xarray"
Adam mentioned the need to allow data to be in a more general format for this repo to be broader to the open source community. A quick search for how to read CSV data into xarray didn't show any results, but it does look like pandas can read CSV. Can we create a module or example using pandas to show how the CSV data will be read in with pandas and then converted to xarray with DataFrame.to_xarray

[2019-04-03 19:51] AdamTheisen commented on #18
Sorry, I was wrong there. I was thinking of the read function for pandas which will be easy to convert to xarray.  I think that would be fairly simple to add

[2019-04-09 20:09] rcjackson opened #23 "Docs has wrong location to install from"
In the docs, it says to clone from the AdamTheisen repository, but it's actually better to clone from the ANL-DIGR repository. In the end, we'll fix this whole issue with pip and conda packaging, but this is a reminder for me to change that part of the docs tomorrow.

[2019-04-10 14:16] rcjackson opened #25 "DOC: Need to use specific file names in examples"
It would be easier for the end user if the examples in the documentation used specific file names rather than wildcards.

[2019-04-10 14:40] rcjackson commented on #15
Also, a WindBarbPlot for the timeseries. Perhaps make this a separate option for timeseries display.

[2019-04-10 15:49] jkyrouac commented on #23
Also might want to add minimum version of Python to install doc. I got an error initially because I did not have Python 3.

[2019-04-10 18:26] AdamTheisen opened #28 "License and Author Files Incorrect"
It looks like the AUTHOR and LICENSE files from my initial build using the scientific cookie cutter were pulled over.  We should update these accordingly.

[2019-04-11 12:52] rcjackson commented on #3
We apparently need to constrain the minimum version of dask. Jenni ran into an issue where after installing it didn't work because it was using an old version of dask that doesn't implement delayed objects.

[2019-04-11 13:59] AdamTheisen opened #29 "Standard Way of Sharing Example Codes without having them as actual examples."
What's the standard practice for sharing scripts that use the ACT library?  We don't necessarily want to have a full example for display on the website.  Is there another way to do this as part of the repo or would we want to handle this separately?

[2019-04-11 14:03] scollis commented on #29
A notebooks directory

-sent from a mobile device-

[2019-04-11 16:38] kenkehoe commented on #3
OK do you know what version we need?

[2019-04-11 17:10] rcjackson commented on #3
Let's make the minimum be the latest that is out, 1.1.5

________________________________
From: Ken Kehoe <notifications@github.com>
Sent: Thursday, April 11, 2019 11:38:18 AM
To: ANL-DIGR/ACT
Cc: Jackson, Robert; Author
Subject: Re: [ANL-DIGR/ACT] Dependencies need to be agreed upon (#3)

OK do you know what version we need?

—
You are receiving this because you authored the thread.
Reply to this

[2019-04-11 20:04] rcjackson commented on #13
I had fixed this issue with #16...closing.

[2019-04-11 20:04] #13 closed

[2019-04-11 20:04] rcjackson commented on #11
We now use a dict to store the datasets in the display object...closing.

[2019-04-11 20:04] #11 closed

[2019-04-19 19:21] rcjackson opened #36 "Check arm standards not really needed anymore"
Since Ken now has uploaded a separate routine in the code that checks for ARM standards in the code, we really don't need to do a hard check for the datastream when reading netcdf and csv files. I suggest removing the warning we get.

Also, add **kwargs to csvfiles, pd.read_csv function.

[2019-04-19 19:29] rcjackson opened #37 "day_night_background throws error when no location info in file"
We need to check if there is location data in the file before calling day_night_background. Right now it crashes if plotting the background with no location data, but we can just make it not do the background if there is no location information.

[2019-04-22 18:28] kenkehoe opened #38 "What to do when file not found"
I would like to change the base behavior when a file is not found with io.read_netcdf() to catch the FileNotFound error and instead just return a value of None. This makes more logical sense to me to use the reading function to go check if the file exists. We do a lot of stuff depending on availability of files and having to wrap everything in a try seems excessive. I would suggest adding a verbos

[2019-04-22 18:51] AdamTheisen commented on #38
That sounds good to me

[2019-04-22 19:11] AdamTheisen commented on #18
@rcjackson Are you the only one that can close out an Issue?

[2019-04-22 19:14] rcjackson commented on #18
@AdamTheisen I invited you and @scollis to be collaborators. I think that makes it to where you can open/close issues.

[2019-04-22 19:14] AdamTheisen commented on #18
Perfect!  Thanks @rcjackson

[2019-04-22 19:14] #18 closed

[2019-04-22 19:15] AdamTheisen commented on #12
This has been implemented.  Day/night background option is default to False.

[2019-04-22 19:15] #12 closed

[2019-04-22 21:02] rcjackson commented on #25
Addressed this issue in a tutorial with Paytsar. Closing.

[2019-04-22 21:02] #25 closed

[2019-04-22 21:34] #23 closed

[2019-04-22 21:34] rcjackson commented on #36
Addressed by #39, closing.

[2019-04-22 21:34] #36 closed

[2019-04-22 23:03] kenkehoe opened #41 "Plotting all NaN data causes error with y limits"
File "/home/kehoe/dev/dq/lib/python/ACT/act/plotting/plot.py", line 365, in set_yrng
    self.axes[subplot_index].set_ylim(yrng)
  File "/apps/base/python3.6/lib/python3.6/site-packages/matplotlib/axes/_base.py", line 3616, in set_ylim
    bottom = self._validate_converted_limits(bottom, self.convert_yunits)
  File "/apps/base/python3.6/lib/python3.6/site-packages/matplotlib/axes/_base.py", line 3

[2019-04-23 21:53] rcjackson commented on #41
Looks like this has been solved. I am closing the issue.

[2019-04-23 21:53] #41 closed

[2019-04-24 14:10] rcjackson commented on #38
@kenkehoe thank you for the PR fixing this issue! Closing.

[2019-04-24 14:10] #38 closed

[2019-04-24 20:42] AdamTheisen commented on #28
@scollis @rcjackson Who do we need to go through at ANL in order to get a license set?

[2019-04-24 20:54] rcjackson commented on #28
You have to fill out an ANL-1032 in Xink to get the licensing done.

________________________________
From: Adam Theisen <notifications@github.com>
Sent: Wednesday, April 24, 2019 3:42:36 PM
To: ANL-DIGR/ACT
Cc: Jackson, Robert; Mention
Subject: Re: [ANL-DIGR/ACT] License and Author Files Incorrect (#28)

@scollis<https://github.com/scollis> @rcjackson<https://github.com/rcjackson> Who do we need

[2019-04-24 20:58] AdamTheisen commented on #28
Thanks!  That looks to be a longer form so I'll start on the paperwork tomorrow.

[2019-04-25 17:46] AdamTheisen opened #45 "Best way to handle geographic plots (ship/aircraft data)."
We need to determine what library would be best for plotting up maps with plane/ship tracks overlaid.

[2019-04-25 17:51] zssherman commented on #45
Most likely Cartopy and probably xarray, but I'll look into it more. Most mapping is all cartopy now as basemap is no mas.

[2019-04-25 17:56] rcjackson commented on #45
I would use cartopy to do it. It would not be hard to implement for any dataset with 1D lat/lon data. I'll work on this after the SAGE workshop...plan on submitting my PR for Skew-T project.

[2019-04-25 17:59] AdamTheisen commented on #45
Ken was talking about working on this tomorrow possibly so let's coordinate

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Bobby Jackson <notifications@github.com>
Sent: Thursday, April 25, 2019 12:56:41 PM
To: ANL-DIGR/ACT
Cc: Adam Theisen; Author
Subject: Re: [ANL-DIGR/ACT] Best way to handle geographic plots (ship/aircraft data). (#45)

I would use carto

[2019-04-25 18:07] rcjackson commented on #45
Sounds good. We can talk about it tomorrow at the meeting.

________________________________
From: Adam Theisen <notifications@github.com>
Sent: Thursday, April 25, 2019 12:59:05 PM
To: ANL-DIGR/ACT
Cc: Jackson, Robert; Assign
Subject: Re: [ANL-DIGR/ACT] Best way to handle geographic plots (ship/aircraft data). (#45)

Ken was talking about working on this tomorrow possibly so let's coordinate

Get

[2019-04-25 21:01] rcjackson commented on #3
I have made MetPy an optional dependency for Skew-T plots, since the rest of ACT will work fine without MetPy. I figure this is the way to go unless we wind up having much more of ACT depend on MetPy.

[2019-05-01 20:45] AdamTheisen opened #49 "Change get_files.py in discovery module to get_armfiles.py?"
If we are going to potentially incorporate some other projects like the AOT API, we should differentiate the get_files.py module to be ARM specific

[2019-05-02 15:45] kenkehoe opened #51 "Way to set absolute limits for time series plot"
I am putting in a feature request to have a way to set an absolute limit when making a time series plot so a single very large or small value will not make the plot unusable. I have some ideas on how to implement.

- Thinking not used as default
- can add to min or max independently
- can add absolute values or percentage of mean, mode or median
- Will indicate on plot that the range displayed doe

[2019-05-02 15:58] AdamTheisen commented on #28
#50 Should update this to use the BSD-3 license until the paperwork goes through Argonne.

[2019-05-02 16:21] scollis commented on #28
We will eventually .. for now look at Pyarts and adapt

Sent from my iPad

[2019-05-02 22:05] kenkehoe commented on #51
This is merged into current master under #52 , but I need to look into adding comment on the plot that some data was not plotted.

[2019-05-06 18:19] kenkehoe commented on #45
I'm looking into this now.

[2019-05-06 18:24] scollis commented on #45
100% cartopy

-sent from a mobile device-

[2019-05-08 14:54] #49 closed

[2019-05-08 14:55] AdamTheisen commented on #49
Resolved with #50

[2019-05-08 14:57] AdamTheisen commented on #29
Is there a certain way we should do this or just at a notebooks dir into the examples dir?

[2019-05-08 14:59] AdamTheisen opened #53 "Roadmap Discussion"
It seems like a lot of the initial framework is developed.  It seems like a good time to discuss what else we envision adding to this repo in the near and far term.

[2019-05-08 15:15] AdamTheisen commented on #53
What we have

1D/2D plotting capability
Skew-T
Wind Rose
NetCDF Reader (ARM)
CSV Reader (ICERAD, AOT, ANL Met Tower)

Potential Items to Add
Model Data (Bobby had mentioned this and was going to look into it)
Surface Maps of Data at SGP (MET/ECOR/EBBR)
MPL Corrections and Co/Cross Ratio Calculation
Mentor Retrieval (MPL Aerosol?)

What else?

[2019-05-08 18:06] Trekev opened #55 "Stability Indices for BBSS data"
It may be useful to have a way to calculate stability indices for the BBSS data.  Perhaps a way to output a table with the plot or a separate file.

[2019-05-08 18:10] Trekev commented on #53
Another potential idea for discussion, but may be outside the scope of the toolkit at this stage of the game.  A lot of government agencies have operational data that's output as text format on a regular basis(Thinking of ASOS stations and balloon observations).  These are often used in the research community as well.  Would creating ways to import this data have a benefit and fit into the scope o

[2019-05-09 17:24] rcjackson commented on #55
I think this would probably go under the "retrieval" module. I envision a first entry in that module with "calc_stability_indices" that returns a dictionary with CAPE, CIN, LI, etc.

[2019-05-09 17:28] scollis commented on #55
Very cool.. Easy hook to MetPy

[2019-05-13 14:10] AdamTheisen opened #57 "Speed up Plotting of 2D datasets"
We need to find a way to plot out high-res 2D datasets faster.  The MPL data takes a ridiculous amount of time to plot up 3 plots.  Maybe we need to play around with image plotting of the data as well instead of pcolormesh and see how that works for cases like this.

[2019-05-17 19:35] kenkehoe opened #62 "Speed up import time to load ACT"
I think we need to pay more attention to the way we load ACT modules. Currently it takes about 8 seconds to load ACT. Also it would be better to not load modules that are not used. For example the cartopy module is loaded for any plot created even if it is not used. I think we should put that module import under the GeographicPlotDisplay class so it is only imported when that class is loaded.

Not

[2019-05-17 19:40] kenkehoe commented on #53
I think having multiple data format readers will be the most important one for the general user community. That should open things up to a broader audience. May also want to look into writers that will output in different formats to accommodate different organizations and their requirements. For example netCDF3 vs. netCDF4, CF vs. ARM vs. someone else. Eventually CF will get their act together and

[2019-05-17 19:43] kenkehoe commented on #37
Additional feature request for this.
- Handle vectors if it currently can't. (1D a 2D?)
- Handle vectors with the first value set to NaN. Need to look for first finite value and use.
- Handle a value for lat but not lon and exit gracefully.

[2019-05-21 16:42] atkingtornado opened #64 "read_netcdf function causes segfault when attempting to read in a day of radar data"
It seems that the read_netcdf function in act.io.armfiles causes a segfault when reading in radar data. Perhaps because of the large file sizes? the specific case that causes the segfault is reading in the following list of files:

['/data/datastream/sgp/sgpkazrcfrgeC1.a1/sgpkazrcfrgeC1.a1.20190225.000013.nc', '/data/datastream/sgp/sgpkazrcfrgeC1.a1/sgpkazrcfrgeC1.a1.20190225.010019.nc', '/data/da

[2019-05-21 16:50] AdamTheisen commented on #64
Ah yes.   I ran into something similar when trying to use xarray to read in kazr data for the DQ Office.  In the radar.py library script I ended up using the old DataDateQuery function to read in the kazr data and that seemed to work.  I wonder if in some instances we need to loop through the files instead of using open_mfdataset.

I will try looking into this a bit and see.

[2019-05-21 17:01] kenkehoe commented on #64
This direct call

filename = '/data/datastream/sgp/sgpkazrcfrgeC1.a1/sgpkazrcfrgeC1.a1.20190225.*.nc'
ds_object = xr.open_mfdataset(filename, drop_variables=drop_variables)

works for me.

I think it's an issue with the current option set of parallel=True in the ACT reading module. I suggest taking that option off the default in ACT and let it be passed through by the users.

[2019-05-21 17:18] kenkehoe commented on #64
I'm going to suggest we pull parallel=True out of the currently set keywords in the xr call. I am still getting good results with concat_dim='time' in the call. But we should put that keyword in the read_netcdf() function so we have the ability to update if needed.

[2019-05-21 18:34] AdamTheisen commented on #64
Just submitted pull request #65  to make this change

[2019-05-22 14:31] #64 closed

[2019-05-22 14:33] AdamTheisen opened #67 "Xarray not able to read old MMCR data"
Some older data might not be compatible with xarray.  sgpmmcrmomC1.b1.20041107 data yielded this error:

xarray.core.variable.MissingDimensionsError: 'heights' has more than 1-dimension and the same name as one of its dimensions ('mode', 'heights'). xarray disallows such variables because they conflict with the coordinates used to label dimensions.

Is there a way around this?

[2019-05-22 14:37] scollis commented on #67
what does a ncdump look like? Sounds like the format is horrible!

[2019-05-22 14:37] scollis commented on #67
we might need to make a custom ingest from netCDF4 in this case.

[2019-05-22 14:40] rcjackson commented on #67
You can specify decode_coords=False to xarray.open_dataset and that should at least disable the dimension labelling for nasty datasets like this.

________________________________
From: Adam Theisen <notifications@github.com>
Sent: Wednesday, May 22, 2019 9:33:25 AM
To: ANL-DIGR/ACT
Cc: Subscribed
Subject: [ANL-DIGR/ACT] Xarray not able to read old MMCR data (#67)

Some older data might not be com

[2019-05-22 14:45] AdamTheisen commented on #67
netcdf sgpmmcrmomC1.b1.20041107.000014 {
dimensions:
        time = UNLIMITED ; // (44959 currently)
        mode = 10 ;
        namelength = 64 ;
        heights = 167 ;
        hourly = 24 ;
variables:
        int base_time ;
                base_time:string = "7-Nov-2004,0:00:14 GMT" ;
                base_time:long_name = "Base time in Epoch" ;
                base_time:units = "seconds since

[2019-05-22 14:46] AdamTheisen commented on #67
decode_coords=False did not work for this case

[2019-05-22 14:51] rcjackson commented on #67
Then we would need a procedure that looks for variables that have the same name as a dimension in a netCDF file. Then it would suggest a change to the user and save a new file for xarray compatibility.

Bobby

________________________________
From: Adam Theisen <notifications@github.com>
Sent: Wednesday, May 22, 2019 9:45:31 AM
To: ANL-DIGR/ACT
Cc: Jackson, Robert; Comment
Subject: Re: [ANL-DIGR/A

[2019-05-22 14:54] scollis commented on #67
Oh crud.. it puts all the modes in one file!

Bobby is right.. we effectively need a mode splitter

From: Bobby Jackson <notifications@github.com>
Reply-To: ANL-DIGR/ACT <reply@reply.github.com>
Date: Wednesday, May 22, 2019 at 9:51 AM
To: ANL-DIGR/ACT <ACT@noreply.github.com>
Cc: Scott <scollis.acrf@gmail.com>, Comment <comment@noreply.github.com>
Subject: Re: [ANL-DIGR/ACT] Xarray not able to re

[2019-05-22 15:08] AdamTheisen commented on #67
Yep, this was the old fashion way of handling modes.  Interleaved in the data.  Mode varied with time and you had to pull out the modes.  Fun times

[2019-05-23 19:49] AdamTheisen commented on #62
@rcjackson Is moving the imports into the classes a good way to get around the import time?

[2019-05-23 19:50] AdamTheisen commented on #62
It sounds reasonable to me

[2019-05-23 20:04] rcjackson commented on #62
Once you import the modules once they don't load again until you restart. So it won't really matter if we put them in the classes or not, I suspect we will see the same performance either way.

________________________________
From: Adam Theisen <notifications@github.com>
Sent: Thursday, May 23, 2019 2:49:59 PM
To: ANL-DIGR/ACT
Cc: Jackson, Robert; Mention
Subject: Re: [ANL-DIGR/ACT] Speed up impo

[2019-05-31 13:11] AdamTheisen commented on #53
I started looking into the NEON data and I think histograms would be a big help with some of that data

[2019-06-04 20:08] rcjackson opened #72 "Filtering of data in plots (like a Py-ART gatefilter)"
Like what we have in the Py-ART GateFilter, we should have a way to filter out values when viewing/processing data. I see an ACT "gatefilter" in the future, but perhaps we can call it a DataFilter object.

[2019-06-07 18:47] kenkehoe commented on #62
OK. I am having a bit of issues with using ACT on my local machine. I can't get cartopy installed locally. Since the module is not used with time series plotting I can't do that. Should we work on only requiring the modules that get used so the repo is useable by everyone?

[2019-06-07 18:47] kenkehoe commented on #45
I think we have this implemented. Should we close this?

[2019-06-07 18:50] kenkehoe opened #75 "Add functions for QC data"
The DQ Office has a few functions to work with bit packed QC. I will look into implementing these into qc_utils. I think we will need to have some discussions on the metadata format standard once in the xarray since ARM, CF and others have different standards. I'm leaning towards the current updated CF method. Do we have any examples of other program's QC after reading (NEON, NWC, ...)?

[2019-06-07 19:37] AdamTheisen commented on #75
They are not bit-packed.  I'm wondering if the base function we need is just a bit decoder.  After thinking about other data sources, I don't know if we can make a one size fits all.  We might need to do an arm_qc_utils.py and put arm specific in there. I do think that a standard bit-packed decoder would work well in qc_utils though

[2019-06-07 20:20] kenkehoe commented on #75
OK let's chat at the meeting next week. I think we can use flag_values for non-bitpacked and it will work. It would just be an extension of CF and the functions could auto detect type based on attributes set if we follow CF convention. If you have an example file can you load it here?

[2019-06-07 20:30] AdamTheisen commented on #75
I don't have any examples offhand.  I do remember that neon had a separate csv file that had qc information in and I don't know if ameriflux had any.  I think they tend to interpolate data when they know it's bad.  Not sure though

[2019-06-12 19:00] AdamTheisen commented on #57
@rcjackson @scollis Any ideas on how to speed up 2D plotting?  1 day of kazr and 1 day of mpl combined in 2 panel plot took about 5 minutes

[2019-06-19 19:32] kenkehoe commented on #75
I'm currently working on migrating some of the DQ QC functions over to ACT. Right now I plan to keep the number of functions to a small number as most users will only need a few. But my question to the group is what will a user typically use them to do and what sort of functions will help them the most. I've got the setting and removing of bits for tests and the display of test numbers from a bit

[2019-06-24 12:48] AdamTheisen commented on #75
Hi @kenkehoe

I am going to ping @rcjackson @zssherman and @scollis as well.

As for what would be useful to the end users, I think a mask or way to get back the indices of where specific bits are tripped is useful.  For plotting purposes, PyART has a gate filter keyword for many of the variables, but is there a more standard way to do this based on masked data as Ken is wanting to do.

[2019-06-24 14:44] rcjackson commented on #75
We'll probably have to make something similar to the Py-ART GateFilter. Perhaps a separate object that supports masking observations with given variables and stores the mask for later use. In the end, one would be able to use the mask to apply NaNs in regions where the variable is masked in the object.

________________________________
From: Adam Theisen <notifications@github.com>
Sent: Monday, Ju

[2019-06-24 14:47] scollis commented on #75
Exactly. Gatefilters  work great in pyart and the concept can be extended to ACT

-sent from a mobile device-

[2019-06-25 23:00] kenkehoe commented on #75
OK can you give me some more information on Gatefilters?

[2019-06-26 18:56] rcjackson commented on #75
They are a class with methods that can specify regions to be masked. For example, if I wanted to create a mask excluding all values with temperature < 3, I would do something like:

my_filter = act.corrections.gatefilter(my_ds, dims='time')   # Would need to specify which dimension(s) we are filtering on
my_filter.exclude_below('temperature', 3)

This would modify the mask inside my_filter to have

[2019-06-27 02:33] kenkehoe commented on #75
OK thanks for the update. This seems very similar to numpy masked array functions already available.

I like the method to do the masking but I think we should use QC variables to store the result. That way multiple masks can be applied and retrieved independently by storing the result of a test ( or mask) in a bit-packed array format. Otherwise the result will be impossible to reverse or untangle

[2019-06-27 16:46] AdamTheisen commented on #62
@kenkehoe If you can move the imports around and make it work for yourself without causing functionality issues, please go ahead.

[2019-06-27 17:22] AdamTheisen commented on #15
This has been implemented.  Closing out.

[2019-06-27 17:22] #15 closed

[2019-06-27 17:23] AdamTheisen commented on #28
License has been approved.  Closing out

[2019-06-27 17:23] #28 closed

[2019-06-27 17:31] AdamTheisen commented on #29
Adding dir in commit #77

[2019-06-27 17:31] #29 closed

[2019-06-27 17:32] #55 closed

[2019-06-27 17:32] #45 closed

[2019-06-27 17:33] AdamTheisen commented on #51
@kenkehoe What do you think, is this good to close out now?

[2019-06-27 19:05] kenkehoe commented on #51
Yeah I was going to add a comment to the plot but I don't think that is necessary anymore. Let's just close this out.

[2019-06-27 19:44] #51 closed

[2019-06-28 17:57] AdamTheisen commented on #62
I'm doing some testing and will just post some results in here.

First import try was 7.9 seconds, after that the average was about 1.4 seconds

The single largest time sync seemed to be importing mpcalc from metpy which adds about 0.4 seconds to the import

[2019-06-28 18:22] zssherman commented on #62
I'll run through the code and do some changes, but some of the imports you only need to import certain functions, like:
import xarray as xr,

if your only using open_mfdataset:
from xarray import open_mfdataset

Importing just needed functions will speed up the code, and also in the init's there is full module imports, like in the io __init__.py there is:
from . import armfiles
this can be changed

[2019-06-28 18:31] zssherman commented on #62
Actually nvm on the first half, after more research and local test it seems that import specific functions won't really effect speed...

[2019-06-28 18:53] zssherman commented on #62
import time: self [us] | cumulative | imported package
import time:      1975 |     119753 |     act.plotting.SkewTDisplay
import time:      2569 |       2569 |       cartopy.io.img_tiles
import time:      2082 |       4650 |     act.plotting.XSectionDisplay
import time:      2155 |       2155 |     act.plotting.GeoDisplay
import time:      2125 |       2125 |     act.plotting.HistogramDisplay
imp

[2019-07-03 21:11] kenkehoe commented on #75
I'm moving away from a qc_utility.py module and used a method approach instead. It should be able to handle both bit-packed and integer QC styles as long as they follow CF. If they don't we can add some additional methods to clean method to update the other institutions to our internal standard that closely follows CF.

[2019-07-10 01:49] kenkehoe commented on #75
With the recent merge of #81 into the repo I think this issue can be closed. We will continue to add more QC tests.

[2019-07-10 01:49] #75 closed

[2019-07-10 16:46] AdamTheisen opened #82 "Easy Overlay of QC in TimeSeries Plot"
Need an easy way to flag data based on QC variables in the TimeSeries plotting to start.  Something that we could pass a list of test numbers or a list of quality level (bad, suspect) and produce something like the attached plot.

<img width="1332" alt="Screen Shot 2019-07-10 at 11 44 22 AM" src="https://user-images.githubusercontent.com/13421074/60987999-5f924c80-a308-11e9-981b-4bf55feb80ec.png">

[2019-07-18 16:01] AdamTheisen opened #86 "New QC not showing up in Documentation"
I don't see any of the new QC features documented in the ACT docs.

https://anl-digr.github.io/ACT/

@rcjackson @zssherman  it looks like @kenkehoe has things documented fairly well.  Is there something we need to do to get it to show up?

[2019-07-18 16:03] rcjackson commented on #86
We might have to go into the .rst files and make sure that they are referring to the docstrings in the code.

________________________________
From: Adam Theisen <notifications@github.com>
Sent: Thursday, July 18, 2019 11:01:32 AM
To: ANL-DIGR/ACT
Cc: Jackson, Robert; Mention
Subject: [ANL-DIGR/ACT] New QC not showing up in Documentation (#86)

I don't see any of the new QC features documented in

[2019-07-18 17:49] zssherman commented on #86
Might need to add qcfilter to the __init__ file docs. I don't see it referenced. Some functions use single quotes instead of doubles, but I don't think that would effect it at all.

[2019-07-18 18:20] kenkehoe commented on #86
qcfilter imports qctests. Could that be part of the issue?

[2019-07-19 16:35] AdamTheisen commented on #86
@zssherman where exactly is that init file you are referring to?

[2019-07-19 17:56] zssherman commented on #86
@AdamTheisen For example, in the retrievals where calculate_stability_indices :

"""
===============================
act.retrievals (act.retrievals)
===============================
.. currentmodule:: act.retrievals
This module contains various retrievals for ARM datsets.
.. autosummary::
    :toctree: generated/
    calculate_stability_indicies
"""

from .stability_indices import calculate_stabili

[2019-07-29 16:27] AdamTheisen commented on #86
Documentation is showing up now.

[2019-07-29 16:27] kenkehoe commented on #37
I believe I put in a try to solve the initial issue for this Issue. I think it will handle scalar and 1D location data. Don't know about the rest of the bullets.

[2019-07-29 16:29] kenkehoe opened #93 "New QC Tests to Add"
This is to track what QC tests need to be added. I added all the numpy masked array options and two more, persistence and single variable comparison.

[2019-07-29 16:30] kenkehoe commented on #93
Need to add a more than two variable comparison. I'm thinking of a three or more variable comparison where it can narrow down which variable is incorrect so a variable is not flagged when the other variable is the issue.

[2019-07-29 16:31] kenkehoe commented on #93
Need to add some normal distribution tests. Maybe a Grubbs test, or Grubbs expanded like the DQ Office currently employes.

[2019-07-29 16:34] kenkehoe commented on #93
Will need something along the lines of a statistical covariance.

[2019-07-29 16:46] AdamTheisen commented on #93
Have you checked to see what python libraries are already out there?  Could we build what we need based on the scipy stats functions? https://docs.scipy.org/doc/scipy/reference/stats.html

[2019-07-29 17:08] kenkehoe commented on #86
I'm not sure this is resolved. The classes are listed in the documentation but my doc strings are not showing up nor all the method names. I am happy to look into solving this but I don't understand enough to know where to start. I tried running the doc generation locally and ran into issues. Can we reopen this to remind me to look into again?

[2019-07-29 17:29] AdamTheisen commented on #86
@kenkehoe Check out ACT/docs/source/API/plotting.rst.  This may give you a good lead into what to do for the QC part.

When you make changes there, you can run "make html" in the ACT/docs folder.  Once that completes you can check out the html page by opening ACT/docs/build/html/index.html

[2019-07-29 17:37] AdamTheisen commented on #93
One other thought is how we would want to implement these.  Not sure if adding as method or variable makes more sense.

[2019-07-29 17:39] AdamTheisen commented on #86
Note, I also think you need to add documentation to the QCTests class.

[2019-07-31 18:58] AdamTheisen commented on #53
Just to update here, many of the items listed here have been added or have been discussed and do not fit within the scope.  The roadmap is being worked on and will be finalized soon.  We will post once complete and close this out.

[2019-08-12 15:57] AdamTheisen opened #101 "Integration of Colorblind-friendly color palettes"
Alyssa had mentioned that it would be good to have the plots made with ACT use a colorblind-friendly palette.  This is a great idea and it should be incorporated.

[2019-08-12 15:58] AdamTheisen commented on #101
@kenkehoe @cgodine I don't seem to be able to assign this to Alyssa, so I am just pulling you in on this issue.

[2019-08-12 16:04] scollis commented on #101
You need to make her a collaborator in the repo.. What is her handle? I can do this.

[2019-08-15 19:54] cgodine commented on #101
Alyssa's handle is @ajsockol.

[2019-08-15 20:02] scollis commented on #101
Ok.. sent invite to add as a collab so she can be assigned.

[2019-08-16 15:05] ajsockol commented on #101
Hooray, you found me! I'm going to do some research into what the different palettes could be. @kenkehoe suggested having multiple options to try and account for the different types of colorblindness, which I think is a good idea as well. Once I come up with some options I can post them here, and then look into incorporating them into ACT after we agree on a few choices.

[2019-08-20 17:21] kenkehoe commented on #82
Good idea. I have started to develop some code for this and have it implemented with our stuff with ECOR using a method in dqlib repo on code.arm.gov. I've started the work outside of ACT because it gets tricky. I've been using that to work out any issues with implementation. Maybe we can discuss this on the weekly call and see how best to implement. Some of the things I was working on fixing incl

[2019-08-20 17:24] kenkehoe commented on #82
There is also a request to make the horizontal color bar plots that show embedded QC like DQ Inspector did. Do we add that to ACT or the new DQ Inspector replacement tool?

[2019-08-20 17:31] AdamTheisen commented on #82
2D plots are hard, we could do what was done in DQ inspector and have a standalone QC plot available for creation.  I think the horizontal color bar plots could be a feature of a plot_bitpacked_qc plotting routine or something along those lines.

[2019-08-21 15:00] kenkehoe commented on #86
I have documentation to the QCTests class but it is not showing up. Does anyone have suggestions on how to fix this? Looks like the function documentation is showing up but none of my method documentation is being processed.

[2019-08-21 17:05] AdamTheisen commented on #86
@kenkehoe The only thing I can see at the moment is that the QCTests class is not initialized.  See the Display class in plotting/plot.py.  It has documentation on the class and an initializer

    def __init__(self, obj, subplot_shape=(1,), ds_name=None,
                 subplot_kw=None, **kwargs):

[2019-08-21 17:13] AdamTheisen commented on #86
I am also seeing warnings when I try and build the documentation for the qc

/anaconda3/lib/python3.7/site-packages/numpydoc/docscrape.py:424: UserWarning: Unknown section Example: in the docstring of <function parse_bit at 0x1c1ce85048> in /Users/atheisen/Code/ACT/act/qc/qcfilter.py.
  warn(msg)

/anaconda3/lib/python3.7/site-packages/numpydoc/docscrape.py:424: UserWarning: Unknown section Exampl

[2019-08-22 14:24] kenkehoe commented on #86
OK thanks. I've made a few changes and things are not fixed but better. I'll keep looking into it.

[2019-08-23 18:23] kenkehoe opened #109 "Plot embedded QC"
We need to create a plot similar to DQ Inspector of embedded QC lining up with data. We can assign this to me.
![sgpmetE13 b1 atmos_pressure_qc_tests 20190801](https://user-images.githubusercontent.com/8261054/63614652-d6299780-c5a0-11e9-9a79-f8499e902468.png)

[2019-08-26 11:20] AdamTheisen commented on #82
@kenkehoe do you want to tackle this as well if you're working on QC plots in #109 ??

[2019-08-30 16:37] kenkehoe commented on #86
I needed to list each method to get the QC to show up but it is there now. We can close this and I'll look into why I need to list the methods another day.

[2019-08-30 16:42] kenkehoe commented on #82
Afirm, I'll look into adding this code as well.

[2019-08-30 16:43] kenkehoe commented on #82
Can you assign this to me?

[2019-08-30 17:20] #86 closed

[2019-09-06 14:19] AdamTheisen commented on #101
#113 resolved this issue.

[2019-09-06 14:19] #101 closed

[2019-09-09 15:22] nhickmon opened #117 "Documentation typo"
![Contributing_—_Atmospheric_data_Community_Toolkit_0_1_3_documentation](https://user-images.githubusercontent.com/55069891/64543841-89a5c200-d2eb-11e9-961c-7e7396df1d41.png)

In the documentation under Setting up an Environment/Install there is a typo for using ACT and its dependencies. It has is dependencies.

[2019-09-11 20:00] AdamTheisen commented on #109
@kenkehoe Closing out as this was resolved with #118 .  Please comment if we need to reopen

[2019-09-11 20:00] #109 closed

[2019-09-11 20:01] AdamTheisen commented on #82
Resolved with #118

[2019-09-11 20:01] #82 closed

[2019-09-11 20:01] AdamTheisen commented on #53
Roadmap has been created and will be uploaded

[2019-09-11 20:01] #53 closed

[2019-09-11 20:15] AdamTheisen commented on #117
Fixed in #121

[2019-09-11 20:15] #117 closed

[2019-09-17 16:24] kenkehoe opened #123 "Discuss guidelines for making ACT release versions"
@AdamTheisen and @kenkehoe were discussing how the DQ Office installs ACT on ADC production system. We currently release off the GitHub repo with a simple RPM build. This does not track with the official ACT release version number. We will be changing to use PIP soon which should resovle this issue.

I would like to understand our guidelines on how often we create a new ACT release version so I ca

[2019-09-17 19:34] zssherman commented on #123
@kenkehoe A good discussion. The release process on conda-forge and pip is fairly quick, so really any time period is doable if we wanted releases every n time frame.

Py-ART I typically do a minor release when some new features, like a new kdp processing code etc, are done. micro when something breaks and needs fixing immediately. But guidelines on what we would consider for each category for ACT

[2019-09-23 22:55] kenkehoe opened #125 "overplot times of an event at top/bottom of time series plot"
I think we need a way to overplot a status onto a time series plot. For example when a sensor is tripped (e.g. MWR rain flag), when rain is detected by another instrument (i.e. MET TBRG) or when some state is happening with the data (i.e. a fan is running indicated by a variable being over a threshold).

My plan is to add a bar or something like that to an existing plot. But instead of adding this

[2019-09-24 13:23] AdamTheisen commented on #125
@kenkehoe I was going to try some tests on this. I wonder if there is an easier way than a new method

[2019-09-24 14:00] AdamTheisen commented on #125
What do you think of this as an option?  It's just 2 additional lines.  Getting the index and then the plot call.

`index = np.where(met_temp < -2.)[0]
....
#Display data using plotting methods
new = {'sgpmetE13.b1': met, 'sgpceilC1.b1':ceil}
display = act.plotting.TimeSeriesDisplay(new,figsize=(8,5))
display.plot('met_lcl',dsname='sgpmetE13.b1',color='b')
display.day_night_background('sgpmetE13.b

[2019-09-24 15:16] kenkehoe commented on #125
OK that is a good solution. I'll think about this.

[2019-09-30 20:31] AdamTheisen commented on #123
Just so we have it down, what if we did something like

Micro - Patches and bug fixes
Minor - New features
Major - Large changes or shifts in the capabilities that could cause issues with older versions

Are there issues if we continue with minor releases and never actually have a major one?  Could we potentially get up to v0.100.0?

[2019-09-30 20:35] scollis commented on #123
Super similar to what we do in Py-ART

We do releases for Minor and Major..

At the moment we are at 1.10.2

https://github.com/ARM-DOE/pyart/releases

From: Adam Theisen <notifications@github.com>
Reply-To: ANL-DIGR/ACT <reply@reply.github.com>
Date: Monday, September 30, 2019 at 3:31 PM
To: ANL-DIGR/ACT <ACT@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [ANL-DIG

[2019-10-01 20:11] AdamTheisen commented on #8
@kenkehoe  what are your thoughts on this?  Still something we should update?

[2019-10-01 20:13] AdamTheisen commented on #3
Current list of dependencies

pandas
matplotlib
numpy
scipy
xarray
astral
dask
distributed
pint
cartopy
boto3
pyproj > '2.0.0'

Do we want to keep this open to track future dependencies, or can we close out and discuss future ones in the pull requests?

[2019-10-02 20:41] kenkehoe commented on #8
I think we should not require this information for any of our tools, and use try/except around them where we do use them. There may be a few more out there that should be updated. I recently ran into one looking for "site" that caused a problem.

[2019-10-02 20:43] kenkehoe commented on #3
How do we handle dependencies. I see one with a version number. I had to manually update cartopy above a version number to get it to work. Should we pay more attention on version number minimums?

[2019-10-03 00:16] AdamTheisen commented on #3
@kenkehoe yes, if we have a minimum version, we should have that indicated. Do you remember what version it was?

[2019-10-10 20:47] AdamTheisen commented on #8
It looks like it would be these lines here that we update to be under the attrs attribute if we were to update right?

    arm_ds.act.file_dates = file_dates
    arm_ds.act.file_times = file_times
    is_arm_file_flag = check_arm_standards(arm_ds)

    if is_arm_file_flag.NO_DATASTREAM is True:
        arm_ds.act.datastream = "act_datastream"
    else:
        arm_ds.act.datastream = arm_ds.attrs[

[2019-10-10 20:51] kenkehoe commented on #8
I'm actually more concerned about any of the plotting or other tools needing these attributes if the data is read in without the ACT reader. I think we should be careful getting these attributes in any of the downstream processes, and they should fail gracefully if used.

[2019-10-10 21:48] rcjackson commented on #8
I am in agreement with Ken. We should just have the plotting tools check for the desired attribute, and have them gracefully finish with a default value for the attribute if the attribute is not there. Chances are, it's only affecting the text which can be modified after the fact anyways.

Datastream is used to provide key names for each dataset in the display object, but I do have it set to where

[2019-10-16 13:09] AdamTheisen opened #140 "Documentation issues"
It looks like the way that we are currently doing the documentation is not translating well into the sphinx generated docs.

I.e.

obj : Xarray Dataset Object

creates this:

objXarray Dataset Object

There is no spacing between the variable name and the type.  Are we doing this the correct way @rcjackson @zssherman ?

[2019-10-16 13:12] AdamTheisen commented on #140
For example:

https://anl-digr.github.io/ACT/API/generated/act.retrievals.calculate_precipitable_water.html

[2019-10-16 13:16] rcjackson commented on #140
Remove the space before the colon and it should work correctly.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Adam Theisen <notifications@github.com>
Sent: Wednesday, October 16, 2019 8:09:06 AM
To: ANL-DIGR/ACT <ACT@noreply.github.com>
Cc: Jackson, Robert <rjackson@anl.gov>; Mention <mention@noreply.github.com>
Subject: [ANL-DIGR/ACT] Documentation issues

[2019-10-16 13:58] AdamTheisen commented on #140
Okay, i will sort through the documentation and update.  Thanks @rcjackson!  I had a feeling that was going to be it.

[2019-10-16 15:33] AdamTheisen commented on #140
Fixing in #141

[2019-11-05 15:50] AdamTheisen commented on #140
Resolved

[2019-11-05 15:50] #140 closed

[2019-11-05 15:54] AdamTheisen opened #145 "Need an avenue for users to share code that has not been vetted through publications"
There is a need to differentiate between retrievals in ACT that have been vetted through peer-reviewed publications and those that have not.  I propose we add an additional folder under retrievals for evaluation scripts.  Would calling it "eval" or "exp" for experimental work?  Other options?

@scollis @kenkehoe @zssherman @rcjackson  Thoughts?

[2019-11-05 16:30] AdamTheisen commented on #8
Just to confirm with @rcjackson, there are no major issues if I change the attributes currently stored in obj.act to be stored under the obj.attrs area with the rest of the attributes and then adjust the downstream code as needed correct?  I will then work to adjust the codes to not require these.  Sound ok?

[2019-11-05 16:32] zssherman commented on #145
Hmm... experimental directory could work, or you could have a separate ACT branch called experimental, and once there is a publication or its peer reviewed it can be merged in via pull request.

[2019-11-05 17:36] kenkehoe commented on #145
Umm, I know that adding a new "eval" directory is how PyART does it but that seems to have some future possible issues. I would prefer to indicate the peer-review part in the documentation so we don't need to update code in the future when we move the code from "eval" to the regular area.

Personally I would like to push back on the notion of peer-reviewed code. I worry this could have some negati

[2019-11-05 17:47] scollis commented on #145
I have feelings on this 😊

1) Code in Py-ART is always peer reviewed 😊 at least by the person who hits the “Accept PR”. When we have very very small changes it is permissible for the submitted to accept the PR. Only Zach and myself have this power and only Zach ever uses it.

2) All that is needed is to ensure the code does what the code says it does.. eg

def addone(val):

     return val+1

we j

[2019-11-06 13:46] AdamTheisen commented on #8
Closing out.  ACT attributes have been ported over to xarray attrs

[2019-11-06 13:46] #8 closed

[2019-12-09 21:14] AdamTheisen commented on #145
I'm going to close this out.  I do think ensuring that we have folks use "Reference" in the docstring and supply the paper, tech report, etc that it comes will take care of this requirement.

[2019-12-09 21:14] #145 closed

[2019-12-09 21:16] AdamTheisen commented on #123
I think we have a good handle on how the releases will be defined and what necessitates a release.  Closing out.

[2019-12-09 21:16] #123 closed

[2019-12-10 19:43] kenkehoe opened #156 "Adding internal global attributes to Xarrray Dataset to replace ACT object attributes"
Initially ACT would add some attributes to the Xarray Dataset that are used by the plotting functions. Some of them include file_dates, file_times, and datastream. We changed to adding them as Dataset global attributes so others who don't use our reader can fix the missing information when needed.

But the part I'm not a fan of is adding these without an indication they are part of ACT not part of

[2019-12-10 19:54] AdamTheisen commented on #156
This sounds like a good idea. @rcjackson @zssherman any objections?

@kenkehoe do you know offhand how much effort this would be to change up?

[2019-12-10 19:56] kenkehoe commented on #156
I don't think our code use any of these. Or if we do they are rare. I would assume the updates would be minimal.

[2019-12-10 20:19] AdamTheisen commented on #156
I think I found all the instances and have it changed on my local code.  Running tests now to ensure I didn't miss anythign

[2019-12-10 20:56] AdamTheisen commented on #156
@kenkehoe check out the PR indicated above and see if that was what you were thinking

[2019-12-10 22:06] kenkehoe commented on #156
yeah those look correct. Do we want one or two underscores at the start. I'm currently using double underscore but looking at PEP8 I think single is what we want. I'll update our code to match.

[2019-12-16 14:23] AdamTheisen opened #159 "Combine clean.py into armfiles.py"
The clean.py script is very ARM-centric and so i'm wondering if it would make sense to include in the armfiles.py file instead of a stand-alone one.  Or, as another option, since it is very qc centric, that it be moved into the qc directory and titled appropriately if it is mainly for ARM QC.  @kenkehoe thoughts?

[2019-12-16 15:52] kenkehoe commented on #159
Sure we can move it anywhere that makes sense. I think QC would be appropriate.

[2019-12-16 15:53] kenkehoe commented on #159
You can assign this to me. I don't think I have that power.

[2019-12-17 15:58] rcjackson commented on #156
This is fine with me!

[2019-12-19 20:44] jhemedin opened #160 "geodisplay.py projection not working with any other options but the default"
While using the GeographicPlotDisplay function when trying to use other cartopy projections the map extent changes or no data appears.

The default is PlateCarree and works fine but when trying to use a Mercator projection the data shows up but the map extent is changed.
![image](https://user-images.githubusercontent.com/21142062/71207275-1e657780-226c-11ea-9727-05912f50922c.png)

When using a Lam

[2019-12-23 23:04] #159 closed

[2020-01-02 19:56] #156 closed

[2020-01-02 20:02] AdamTheisen opened #163 "Secondary Y axis"
@rcjackson @kenkehoe I was looking at adding in a feature for working with a secondary y axis on the timeseries plots, but it is a little more in depth than I thought, mainly due to the set_yrng function.  We rely on the subplot indices to set a lot of things and that currently does not include anything about a secondary y-axis.  I could put in a work around for now that I think will work, but it'

[2020-01-03 22:20] cgodine opened #164 "u/v wind barb adding all colorbars to last subplot"
When plotting multiple subplots using act.plotting.TimeSeriesDisplay.plot_barbs_from_u_v and adding a colormap to the subplots, all of the colorbars end up being plotted on the last subplot rather than their respective subplots:

![](https://dev.arm.gov/~godine/PLOTS/sgp/sgp915rwpwindcon/20200102/sgp915rwpwindconI8.a1.rwp_windcon.20200102.png)

I didn't notice anything in the code that I thought w

[2020-01-03 22:53] rcjackson commented on #164
Chances are the plt.colorbar command is pointing to the wrong axis in the code. I'd check the ax= keyword in the plt.colorbar command.

________________________________
From: Corey Godine <notifications@github.com>
Sent: Friday, January 3, 2020 4:20 PM
To: ANL-DIGR/ACT <ACT@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [ANL-DIGR/ACT] u/v wind barb adding all colorbars

[2020-01-06 20:53] AdamTheisen commented on #163
FYI... I have a very basic secondary y-axis added in, but I do think we need to come up with a better option long-term

[2020-01-07 21:26] kenkehoe commented on #164
@cgodine did you check if ax= is the issue. If not I'll need to look into it.

[2020-01-08 19:39] nhickmon opened #172 "ACT Title Missing 'data'"
The title for the ACT repo is missing 'data' and should read Atmospheric data Community Toolkit

[2020-01-08 19:40] AdamTheisen commented on #172
@rcjackson I think you are the only one that can change that in the repo settings.  Assigning to you!

[2020-01-08 19:42] rcjackson commented on #172
Went ahead and changed the title.

[2020-01-08 20:19] cgodine commented on #164
@kenkehoe looks like it was indeed pointing to the wrong axis. Made a PR and can close this issue.

[2020-01-08 20:19] #164 closed

[2020-01-08 20:40] AdamTheisen commented on #172
Thanks Bobby!

[2020-01-08 20:40] #172 closed

[2020-01-22 23:08] zssherman opened #178 "Standard in docs and bug in Sphinx"
So I was converting over Py-ARTs docs and ran into something from ACT early on. I remember we had the docs set where parameters had a space on both side of the colon before the parameter type. This is inline with doc styles for major packages. When it stopped working the spaces were removed. It turned out this was an update sphinx did that messed with numpy docs:
https://github.com/readthedocs/sph

[2020-01-23 13:48] AdamTheisen commented on #178
@zssherman thanks for catching that.  I thought it was odd when that issue came up.  If you think that will make the docs look better and @rcjackson doesn't see any issues with it, go right on ahead.

[2020-01-31 19:39] kenkehoe opened #181 "Day/night background issues with polar night"
The day/night plotting background has issues with astral and calculating times for sun rise/set. This is throwing an error when there is no sun during the day. We can fix that with a try/except.

Other issue is that if a user catches the exception the background for polar night comes out as all day. I think this is an issue with how things are plotted.

<img width="1006" alt="Screen Shot 2020-01-3

[2020-02-06 16:12] AdamTheisen commented on #178
#180 resolved this

[2020-02-06 16:12] #178 closed

[2020-02-10 16:39] AdamTheisen commented on #181
These codes always seem to have issues with high latitude.  Thanks for catching this.

[2020-02-12 21:56] ajsockol opened #187 "Issue with Weekly Plotting when Number of Days of Available Data is Low"
There seems to be an issue with weekly plots when only a small amount of data is avaialable to generate the plots with. The x-axis shows up as all zeros. This appears to correct itself once there are ~3 full available days of data, as in this example:
![srg](https://user-images.githubusercontent.com/49569746/74380879-06aff880-4db0-11ea-8ddc-02939376b658.png)

![srg2](https://user-images.githubuser

[2020-02-13 14:10] AdamTheisen commented on #187
@ajsockol can you post the code used to create the first plot?

[2020-02-13 15:24] ajsockol commented on #187
# Import necessary standard libraries
    from os import environ
    import datetime as dt
    import astral, act, pathlib
    from dqlib.io.data import read_arm_data_act
    from dqlib.utils.utils import DatastreamParser, string_dates
    from dqlib.io.image import save_plot

    def plot_module(run_parameters, ds_object, days=0):

        #Get all the file parameters and metadata needed for proc

[2020-02-13 16:00] AdamTheisen commented on #187
@ajsockol I think I figured it out.  The data are first plotting for 1-2 days, so the x-format is based on those 2 days.  You then adjust the xrng after the plotting and don't adjust the format.  2 options

1. add the following
        myFmt = common.get_date_format(days)
        display.axes[subplot_index].xaxis.set_major_formatter(myFmt)

2. Pass your xrng to the plot call using time_rng that wa

[2020-02-13 16:01] AdamTheisen commented on #187
![option_2](https://user-images.githubusercontent.com/13421074/74453247-c00ddd00-4e47-11ea-803a-ad9c3430524f.png)

[2020-02-13 16:25] ajsockol commented on #187
@AdamTheisen Thanks! I think I fixed it. All good now. We can probably close this Issue out.

[2020-02-13 16:51] #187 closed

[2020-02-13 16:51] AdamTheisen commented on #125
@kenkehoe have you had a chance to think about this implementation?

[2020-02-13 17:19] kenkehoe commented on #125
Yeah, I've implemented something similar to your code snippet above a few times. Since this is just a few lines of extra code outside of ACT I think we can skip adding more code to ACT. We can close this.

[2020-02-19 22:44] AdamTheisen opened #192 "ACT Cheatsheet Needs to be Updated to Reflect ARM-DOE"
Title says it all

[2020-02-19 22:45] AdamTheisen commented on #192
Assigning to you, but I can try and figure out how to do update this off the tex.

[2020-02-19 23:06] zssherman commented on #192
So the tex is fine just need a new PDF?

[2020-02-19 23:47] AdamTheisen commented on #192
@zssherman There were a couple instances in the Tex that still pointed to ANL-DIGR

[2020-02-20 01:30] zssherman commented on #192
Gotcha, I did the other locations of the text and changed it to ARM-DOE. The tex II convert using overleaf. You need baposter file too for the format, I can add it to the guides folder,

[2020-02-20 14:31] AdamTheisen commented on #192
Resolved with #193

[2020-02-20 14:31] #192 closed

[2020-02-20 17:57] IreneCrisologo opened #194 "Missing dependency : appdirs"
Hi, i just installed act from conda-forge and this error came up on import:

[code]

[2020-02-20 18:00] rcjackson commented on #194
Appdirs is a dependency of MetPy, so this looks like a MetPy problem with its default dependencies. I am for putting in a hotfix that catches a DistributionNotFound and ModuleNotFound error  for this case

[2020-02-20 18:20] AdamTheisen commented on #194
Thanks @IreneCrisologo for reporting this and @rcjackson for the fix.  I'll do a micro release once we have a fix

[2020-02-20 20:17] AdamTheisen commented on #194
@IreneCrisologo The fix Bobby put in should be available through conda-forge or pypi.  Let me know if you are able to successfully install ACT

[2020-02-20 20:35] AdamTheisen commented on #181
@kenkehoe Where are you getting the lat/lon from, the NAV system?

[2020-02-20 20:48] kenkehoe commented on #181
Hmm, looking into the code a bit I think we are not pulling in the NAV data. The lat/lon are coming from the normal data and at MOS that is set to -9999. In ARM files the missing_value indicator is not being set but there are valid_min/valid_max limits. Let me see what I can do and get back to you. We may need to catch this error in data to say don't plot daylight background.

[2020-02-20 20:49] AdamTheisen commented on #181
![Figure_1](https://user-images.githubusercontent.com/13421074/74977249-fa4f1f80-53ef-11ea-83ec-e4184ec819d8.png)

I'm having trouble reproducing.  I pulled in nav data and it seems to plot all night fine.

[2020-02-20 20:50] AdamTheisen commented on #181
Sounds good @kenkehoe .  I'm debating if we want to through an error or just not plot the background when there's no valid lat/lon.  Thoughts?

[2020-02-20 20:55] AdamTheisen commented on #181
Something like this perhaps?

`
if not (-90 <= lat <= 90) or not (-180 <= lon <= 180):
    raise ValueError(("Lat or Lon are invalid"))
`

[2020-02-20 21:08] kenkehoe commented on #181
Yeah I think something like that to catch the errors of bad values is all we need. Will need to also check if np.isfinite(lat) == True for cases where there is a missing_value attribute and Xarray converts the value to NaN.

I just added the correct values to the Dataset from NAV and it plotted correctly.

![Screen Shot 2020-02-20 at 14 04 44](https://user-images.githubusercontent.com/8261054/7497

[2020-02-20 21:18] AdamTheisen commented on #181
Added that in along with the finite check to #197

[2020-02-20 21:46] #181 closed

[2020-02-25 18:29] #194 closed

[2020-03-18 18:45] AdamTheisen opened #206 "QC Barh Plot for 2D data"
When a user tries to plot 2D-QC data, it currently runs into an error.  It would be good to figure out plots similar to this.

![multi-1d_vars](https://user-images.githubusercontent.com/13421074/76995941-9d775400-691e-11ea-99e1-3afca744225b.png)

[2020-03-18 18:45] AdamTheisen commented on #206
@kenkehoe Pulling you in on this to see if you've thought about it.  Plot above is DQ Inspector

[2020-03-18 18:53] AdamTheisen opened #207 "Shade time series data based on QC"
Some work was started in this area, but I don't think it was finished.  Thhis is to document that we need to finish it.

[2020-04-09 18:25] kenkehoe commented on #93
I prefer the method way as it allows for passing different keywords for each test. Different tests will need different inputs.

[2020-04-09 18:28] kenkehoe commented on #37
I will take a look at finishing this. You can assign it to me.

[2020-04-09 18:36] kenkehoe opened #210 "Create a generic netCDF writer"
I think we need to make a generic netCDF writer to handle a few cleanup issues before the data are written to a netCDF file. For example we add some global attributes that we don't want to write to a file. Also, the QC attributes flag_meanings and flag_assessments are string arrays instead of character arrays. CF currently does not allow string attributes. Maybe have some keywords to toggle the ac

[2020-04-09 18:40] AdamTheisen commented on #93
@kenkehoe not sure if you looked, but I did not add the FFT test to the same class as the others.  Since it was instrument specific, I thought it would be best to leave as a separate function that one has to call.  Sound good?

[2020-04-09 20:11] kenkehoe commented on #72
I created the qcfilter.get_masked_data() method [located in qc.qcfilter file] to return filtered data based on QC status. Are you suggesting a filter to change the data in the object directly?

[2020-04-09 20:13] kenkehoe commented on #125
Since we have a solution outside of ACT I'm going to close this.

[2020-04-09 20:13] #125 closed

[2020-04-09 20:16] kenkehoe commented on #93
Yeah that is fine @AdamTheisen.

[2020-04-10 15:37] AdamTheisen opened #212 "Xarray cannot write ACT object with ARM"
When I try and write the ACT object out to netcdf, I get

TypeError: Invalid value for attr: ARMStandardsFlag.OK must be a number, a string, an ndarray or a list/tuple of numbers/strings for serialization to netCDF files

In the past, I've just dropped this attribute, but we should address the issue.  @rcjackson could we change how this is stored?

[2020-04-10 15:41] rcjackson commented on #212
I think we can set OK to 1 and NO_DATASTREAM to 2 instead of auto(). I think that would make it an integer instead of whatever type it’s doing now.

From: Adam Theisen <notifications@github.com>
Sent: Friday, April 10, 2020 10:38 AM
To: ARM-DOE/ACT <ACT@noreply.github.com>
Cc: Jackson, Robert <rjackson@anl.gov>; Mention <mention@noreply.github.com>
Subject: [ARM-DOE/ACT] Xarray cannot write ACT ob

[2020-04-10 15:43] rcjackson commented on #212
Or, set this to a bitpacked field

From: Adam Theisen <notifications@github.com>
Sent: Friday, April 10, 2020 10:38 AM
To: ARM-DOE/ACT <ACT@noreply.github.com>
Cc: Jackson, Robert <rjackson@anl.gov>; Mention <mention@noreply.github.com>
Subject: [ARM-DOE/ACT] Xarray cannot write ACT object with ARM (#212)

When I try and write the ACT object out to netcdf, I get

TypeError: Invalid value for attr:

[2020-04-13 11:15] AdamTheisen commented on #37
Resolved with #211

[2020-04-13 11:15] #37 closed

[2020-05-22 16:50] kenkehoe commented on #206
OK I had not thought about this. I am not surprised it causes an error. Do we want the same plotting response as DQ Inspector?

[2020-05-26 16:54] AdamTheisen opened #218 "Unit Test Coverage Tracking"
I noticed that some repos have a badge for code coverage provided by coveralls.io.  Would we want to do something similar with ACT?  If so, are there other options that would be better?

@scollis @rcjackson @zssherman

[2020-05-26 17:45] zssherman commented on #218
@AdamTheisen I know alot of repos use coveralls, I'm not familiar with other options, but yeah having the badge is a good way of almost advertising your code is well maintain.

[2020-05-26 19:20] kenkehoe commented on #206
I've got this about 90% complete and just need to get the last bit updated. Should have a PR soon.

[2020-05-26 19:55] AdamTheisen commented on #206
@kenkehoe that is great!  Thanks for working on it!

[2020-05-28 00:37] kenkehoe commented on #206
I've created a PR for this update. Plot should be as good if not better than DQ Inspector.

![Figure_1](https://user-images.githubusercontent.com/8261054/83085396-07ac2380-a049-11ea-92e9-180d8d28490c.png)

[2020-05-28 13:57] kenkehoe commented on #206
This has been resolved. I don't see a way for me to close this issue.

[2020-05-29 19:03] kenkehoe commented on #160
According to error when running projection=ccrs.LambertConformal():

"TypeError: Cannot label gridlines on a LambertConformal plot.  Only PlateCarree and Mercator plots are currently supported."

I've updated the code to only attempt to add labels to PlateCarree and Mercator, but still add gridlines. It's still not doing what I would want. We may need to look elsewhere for a plotting library.

Lam

[2020-05-29 20:39] AdamTheisen commented on #206
Thanks @kenkehoe !

[2020-05-29 20:39] #206 closed

[2020-05-29 20:41] #160 closed

[2020-05-29 21:03] kenkehoe commented on #207
OK. We have this under the keyword assessment_overplot but I think it does need some work.

[2020-06-04 18:33] AdamTheisen opened #223 "Deprecation Warnings"
Deprecation warnings from the latest build that we need to look into

`act/qc/clean.py:43
  /home/travis/build/ARM-DOE/ACT/act/qc/clean.py:43: DeprecationWarning: invalid escape sequence \_
    """
act/qc/clean.py:52
  /home/travis/build/ARM-DOE/ACT/act/qc/clean.py:52: DeprecationWarning: invalid escape sequence \("a value of 0 \(no bits set\) indicates the data has not "

act/tests/test_io.py:36

[2020-06-05 00:00] AdamTheisen commented on #210
Thanks @kenkehoe

[2020-06-05 00:00] #210 closed

[2020-06-05 00:02] AdamTheisen commented on #218
An idea of where our unit test coverage is lacking.

▼81.62 corrections/
100.0 __init__.py
100.0 ceil.py
100.0 doppler_lidar.py
91.04 mpl.py
9.52 raman_lidar.py
100.0 ship.py
▼83.33 discovery/
100.0 __init__.py
79.17 get_CropScape.py
21.21 get_armfiles.py
95.0 get_asos.py
▼78.84 io/
100.0 __init__.py
79.64 armfiles.py
70.0 csvfiles.py
▼61.81 plotting/
33.71 ContourDisplay.py
11.76 GeoDisplay.py
72

[2020-06-15 15:37] AdamTheisen commented on #212
I have to test @kenkehoe new script for writing files, but that could possibly fix this issue.

[2020-06-17 16:08] kenkehoe commented on #212
My script will fix this but I think we should still not cause xarray to crash if a user decided to do a quick write to file with .to_netcdf(). I think we should work with xarray as much as we can but not alter it in a way that causes errors. We should convert the ARMStandardsFlag.OK to something that can be written to netCDF file as Bobby suggested. Bit-packed field will work.

[2020-06-25 18:16] AdamTheisen opened #227 "Day/Night Background Using Old Astral Function"
Currently the sun_utc function that is currently used in the day/night background creation is not available in the latest Astral releases (2.2).  We should work on updating to the latest functions if possible. @kenkehoe

[2020-06-25 18:20] kenkehoe commented on #227
Crap. OK I'll look into it. Thanks for heads up.

[2020-07-09 18:27] #227 closed

[2020-08-07 17:54] kenkehoe commented on #223
Yeah I don't understand these warning. The code is correct. Should I wrap these parts with a with: to capture the warnings?

[2020-08-07 17:55] kenkehoe commented on #212
Is this still an issue? I thought we fixed this?

[2020-08-07 17:56] kenkehoe commented on #207
I need to get back to this. The code is currently commented out. I'll try to find some time to get back to this. You can assign this to me.

[2020-08-07 17:59] kenkehoe commented on #72
I think we should spend some time working on this. I suggest using the qcfilter.get_masked_data() to get a clean numpy array and then put that back into the object. This would then make plots with all the filtered data removed. That would be easier than not changing the data in the object and needing to call the method for every processing task. Since xarray has so many option for processing we sh

[2020-08-16 18:45] AdamTheisen opened #239 "Matplolib 3.3.1 Breaks Xsection Map Plot"
In the testing for the conda install builds, it looks like the new version of matplotlib breaks the xsection map plot function in ACT.  It appears to be an issue in matplotlib, but I want to make a note that it is something we may have to resolve.

[2020-08-16 18:46] AdamTheisen commented on #239
Also, I don't believe we will be able to use the mosaic subplot features until this is resolved.

[2020-08-25 15:38] kenkehoe commented on #207
This has been resolved with PR  #244

[2020-08-25 15:39] kenkehoe commented on #72
This has been resolved with PR #245 .

[2020-08-25 16:00] kenkehoe commented on #57
I had to downsample the data in the object to my plots to render faster. Not sure if we want to do that. Otherwise I have not found any faster plotting options.

[2020-08-25 16:33] AdamTheisen commented on #57
Yeah, maybe we just need to note that users should downsample data before plotting if they need a speed increase

[2020-08-25 16:34] AdamTheisen commented on #212
#243 has resolved this issue

[2020-08-25 16:34] #212 closed

[2020-08-25 16:34] #207 closed

[2020-08-25 16:34] #72 closed

[2020-08-28 15:55] AdamTheisen opened #247 "FFT Algorithm Visualization"
It would be very useful for the FFT algorithm to be able to provide plots of the FFT data and the shading of intervals that are used for the FFT test.

[2020-08-28 17:25] kenkehoe opened #248 "RuntimeWarning to catch"
There are a few comparisons done where a NaN may be involved resulting in a warning. This issue is to document and eventually capture them in a with:

- act/qc/radiometer_tests.py:181: RuntimeWarning: invalid value encountered in less idx = (fftv < 1.)

[2020-09-10 18:32] kenkehoe commented on #248
Covered under PR #250

[2020-09-10 18:32] #248 closed

[2020-09-10 18:44] kenkehoe opened #252 "Add method to update object to CF standards"
There are are few CF standards that are not part of ARM files or others. Can add suggested attributes to be CF compliant.

[2020-09-10 18:44] kenkehoe commented on #252
This can be assigned to me.

[2020-09-10 18:46] kenkehoe opened #253 "Add method to update units in object"
Adding a method to update the variable units in object. Could have option to look for all variable units in same category and make them all the same.

Could also have way to handle incorrect units that cause errors and use a look up table of known fixes.

[2020-09-16 14:28] AdamTheisen opened #255 "Continuous Integration Switch"
Travis-ci.org is switching to travis-ci.com.  Documentation and processes will need to be updated by end of 2020.

[2020-10-14 14:28] AdamTheisen commented on #247
I'm going to start looking into this functionality

[2020-10-14 21:47] AdamTheisen commented on #247
#258 will close this out once merged

[2020-10-15 15:34] #247 closed

[2020-11-05 18:43] AdamTheisen commented on #253
@kenkehoe Have you seen this at all? https://github.com/xarray-contrib/pint-xarray

[2020-11-07 04:03] kenkehoe commented on #253
@AdamTheisen thanks for the link. This looks interesting.

I think we will need to discuss this a bit as there are some promises for this to help, but also some issues.

Issues:
- It appears installing pint-xarray will force us to use xarray=>0.16. We are currently at v0.12 for some other issues. I have not gone back to test again so maybe we can move to v0.16.
- I think there is something still w

[2020-11-25 20:07] AdamTheisen commented on #255
Should just be switching the image in the README file for passing or not.

[2021-01-08 20:48] kenkehoe opened #274 "Replace astral with a different solar calculation library supported on conda-forge"
I was recently informed of a different Python library available for use to use for calculating solar positions and times called [pysolar](https://pysolar.readthedocs.io/en/latest/#location-calculation). It is still sub major release but a recent update in Oct. 2020 has me believing it is actively being developed. Initial impressions are that it may be more accurate with solar positions. The sunris

[2021-01-14 20:09] AdamTheisen commented on #274
Discussed this on the ACT call today.  Initially, we are going to create a function in ACT that wraps around Astral to provide appropriate solar information.  This will allow greater flexibility for the future if we decide to switch solar libraries.

In the mean-time, we are going to look at multiple options
- Continue looking at PySolar as an option
- Review skyfield library and if that could be

[2021-01-21 21:23] AdamTheisen opened #277 "Unit tests for images not working correctly"
It turns out that the way we have been testing the image outputs was not working as intended.  When adding in --mpl to pytest, it yields 11 failing tests.

FAILED test_plotting.py::test_wind_rose
FAILED test_plotting.py::test_skewt_plot
FAILED test_plotting.py::test_skewt_plot_spd_dir
FAILED test_plotting.py::test_contour
FAILED test_plotting.py::test_contourf
FAILED test_plotting.py::test_qc_bar_

[2021-01-27 20:55] AdamTheisen commented on #6
We are saving the test login and token in Travis as a secret token that the discovery module can use in testing.   get_armfiles is currently at 77% coverage so I am closing this out.

[2021-01-27 20:55] #6 closed

[2021-01-27 20:57] AdamTheisen commented on #255
I don't think this was actually implemented as everything .org is still working and nothing on .com works.

[2021-01-27 20:58] AdamTheisen commented on #277
#278 resolved this issue

[2021-01-27 20:58] #277 closed

[2021-02-01 21:12] kenkehoe commented on #274
I've started to work on this. There are some nice features to use with skyfield like it's vector processing. But it does not have the ability to produce a noon from a method call. I have it coded up to calculate noon as halfway between sunrise and sunset. This causes issues on full sun days as I can't calculate a noon value. My plan is to finish the refactoring to use a wrapper around the library

[2021-02-01 21:16] kenkehoe commented on #253
I looked into this a bit for a different reason. I would like to still create a method to update units for multiple variables in the object to make matching other data easier. I think that would be straight forward for a method to loop through and update units using existing function we have convert_units(). But I have run into an issue with updating coordinate variables. Using newer Xarray will p

[2021-02-01 23:09] brandon-rhodes commented on #274
@kenkehoe — I am not sure which definition of noon you are interested in, but if you are interested in when the Sun transits the local meridian (which is one common definition), you could use Skyfield’s meridian-transit routine by asking it about the Sun:

https://rhodesmill.org/skyfield/almanac.html#meridian-transits

Let me know if there’s a tweak to the documentation that might better draw the

[2021-02-03 17:44] kenkehoe commented on #274
@brandon-rhodes  thanks for the heads up. Yeah, that works. I think some terminology indicating local solar noon will help those looking for Sun positions who are not astronomers.

[2021-02-08 19:42] brandon-rhodes commented on #274
There, I've added this as one of Skyfield's examples, as show in the commit referenced just above. Let me know if you see any typos!

[2021-02-08 21:12] AdamTheisen commented on #274
Thanks @brandon-rhodes, that is helpful!  @kenkehoe has informed me that using Skyfield has increased processing time for some of our tests by a factor of 10 which is phenomenal.  Looking forward to seeing what he has worked up to add in to this repo with it.

[2021-02-08 21:14] brandon-rhodes commented on #274
Do you mean that in the sense of “the tests now run faster” or “the tests now run slower”? :slightly_smiling_face:

[2021-02-08 21:20] AdamTheisen commented on #274
Ha, that did not come out like I intended @brandon-rhodes .  I meant that it runs 10 times faster.  It's a test that uses an FFT to detect problems with an instrument but depends on knowing when the sun's up to screen out false positives.

[2021-02-12 17:50] AdamTheisen commented on #274
Phase one of the work to switch over to Skyfield was merged in after some phenomenal work by Ken.  Going to look at what's remaining that uses astral and fully change over in phase 2

[2021-02-18 01:43] AdamTheisen commented on #274
#284 closed this out.  Dependency is officially switched to skyfield.

[2021-02-18 01:43] #274 closed

[2021-02-19 02:47] AdamTheisen opened #287 "Multi-panel SkewT Plot Error"
There seems to be a bug with the SkewT Plot code when trying to do a multiplot.

[2021-02-20 22:15] AdamTheisen commented on #287
#289 should resolve this

[2021-02-24 17:04] #253 closed

[2021-02-25 17:53] AdamTheisen opened #290 "QC Block Plot for Different Assessments"
Currently, the QC block plot script has a look up table to match assessment to color (bad=red, suspect=orange, etc).  I just came across another assessment (Acceptable), but instead of continuing to add to this lookup dictionary, it would be good to add the ability to map undocumented assessments to a color for plotting either way instead of failing.

[2021-03-04 22:21] scollis opened #292 "ENH: have act.discovery.get_armfiles.download_data return a list of files"
As it says, to allow automation have act.discovery.get_armfiles.download_data return the filenames of files downloaded.

[2021-03-05 16:26] AdamTheisen commented on #292
Thanks @scollis we will take a look.  @jhemedin would you want to take a look and see if it's a simple update?  The code is from getFiles.py on https://adc.arm.gov/armlive/

[2021-03-05 16:30] AdamTheisen commented on #252
@kenkehoe I believe your latest PR satisfies this issue right?  As you mentioned, there are likely some that were missed, but we can update as we find them.  THoughts?

[2021-03-05 16:35] jhemedin commented on #292
Yeah I can take a look at it.

[2021-03-05 16:40] kenkehoe commented on #252
Affirm, the last PR covered this issue.

[2021-03-05 16:40] #252 closed

[2021-03-09 15:41] jhemedin commented on #292
act.discovery.get_armfiles.download already returns filenames as the files are being downloaded. Or is the issue wanting to know the file names before downloading?

[2021-03-09 15:43] scollis commented on #292
Hmmm I had it returning None.. I might be using an old version

[2021-03-09 16:11] AdamTheisen commented on #292
@jhemedin @scollis I believe the issue is that we do print out the file names to the screen when downloading, but we don't return a list of the files that were downloaded.  I think we would want to add a return statement to download_data that returns the filename (fname) with possible the write path (output_dir).

[2021-03-09 16:33] #290 closed

[2021-03-09 16:33] #287 closed

[2021-03-09 16:35] #93 closed

[2021-03-09 17:46] scollis commented on #292
Yes.. if you can have the function return the file names that would be great

[2021-03-10 20:36] AdamTheisen opened #296 "Errors in Stability Indices Calculation"
Error reported by a user when trying to plot a sonde profile

![image](https://user-images.githubusercontent.com/13421074/110694241-f97d5d00-81ad-11eb-9d97-cb18e33ff9e4.png)

[2021-03-10 21:30] AdamTheisen commented on #296
It looks like this was an issue in an older version of MetPy (0.10) and when I installed the newest version, I did not come across the same issue.  We may have to limit the version of MetPy to >=1.0 in the requirements for ACT going forward. @zssherman thoughts?

[2021-03-10 21:35] zssherman commented on #296
I would add the requirement, did the user update and solve the issue as well?

[2021-03-10 21:50] AdamTheisen commented on #296
@zssherman Yes, the user was going to clone the MetPy repo and install locally.  It's on the ARM systems so there's the system installs that could always but heads with the local install.

[2021-03-10 21:56] zssherman commented on #296
Ah gotcha, no way to do a conda environment on that system?

[2021-03-11 14:42] AdamTheisen commented on #296
@kenkehoe has figured out a way to build up their own environment on the ARM systems.  I'll let him comment.

[2021-03-11 17:50] AdamTheisen opened #297 "Update to ARM DOD API"
The ARM API to get the netcdf header for xarray object creation has changed.  We will need to update the script in io/armfiles.py to reflect that.

[2021-03-11 18:52] AdamTheisen commented on #297
Handled in #298

[2021-03-11 22:46] #297 closed

[2021-03-11 22:47] AdamTheisen commented on #239
Updated matplotlib in #295

[2021-03-11 22:47] #239 closed

[2021-03-18 16:05] ajsockol opened #300 "Run into Issues when reading data from Data Discovery"
Data downloaded from Data Discovery sometimes includes ".custom" in the netCDF file name.

This can create issues when trying to read the file with ACT.

For example:

    # Import standard libraries
    import act
    import matplotlib.pyplot as plt
    import copy
    import numpy as np
    import math
    from act.utils.data_utils import convert_units

    # Read in PSAP3W1M b1 level netCDF fil

[2021-03-18 17:04] AdamTheisen commented on #300
Thanks @ajsockol !  I'll have to take a look as we might be getting date/time information from the filename which is not going to be robust.

[2021-03-19 22:17] kenkehoe commented on #300
I think the date is being parsed from end of filename so when the file is modified and the .custom. part is added the numbers don't work. I think we can fix this by counting from the start of the filename. But as @AdamTheisen  suggested getting the date/time from filename is not best. Maybe we can use time in the file.

[2021-03-24 14:23] kenkehoe commented on #296
Yes a conda environment works on ARM servers. They may need to learn how to make conda environments and start them. Maybe point those questions to me.

[2021-03-29 19:42] AdamTheisen commented on #296
Closing this out.  Documentation has been updated to denote METPY V1.0 and greater is necessary for those plots.

[2021-03-29 19:42] #296 closed

[2021-03-30 14:48] AdamTheisen commented on #292
@jhemedin With the ARM API being down it brought to light some issues with testing/bugs in the code.  I put in some fixes but also just added in a fix for this issue.  Will want you to review #304 when you get a chance.  Thanks!

[2021-04-01 14:18] AdamTheisen commented on #292
@scollis this should be implemented now with #304

[2021-04-01 14:18] #292 closed

[2021-04-01 14:19] AdamTheisen opened #305 "Feature Request: Add Calm to wind roses"
It would be nice to add calm winds to the wind roses like the IEM custom plots.

![image](https://user-images.githubusercontent.com/13421074/113307988-54950200-92cb-11eb-858a-446bf0626ddb.png)

[2021-04-02 14:49] AdamTheisen opened #307 "Deprecation Warning for Matplotlib"
We will need to resolve this sooner than later.

/Users/atheisen/Code/ACT/act/plotting/TimeSeriesDisplay.py:477: MatplotlibDeprecationWarning: shading='flat' when X and Y have the same dimensions as C is deprecated since 3.3.  Either specify the corners of the quadrilaterals with X and Y, or pass shading='auto', 'nearest' or 'gouraud', or set rcParams['pcolor.shading'].  This will become an error

[2021-04-07 19:02] AdamTheisen opened #309 "Expand capability to download data from other APIs"
A few that we should look at

NOAA FTP sites
https://psl.noaa.gov/data/obs/data/index.php?SiteID=ctd&InstTypeID=28
https://www.esrl.noaa.gov/gmd/dv/data/?site=brw

EPA API for PM2.5
https://docs.airnowapi.org/

Ameriflux??  Not sure if we can access data through API
https://ameriflux.lbl.gov/real-time-data-view-using-influxdb-and-grafana/

[2021-04-07 19:03] AdamTheisen commented on #309
@kenkehoe any others you can think of?

[2021-04-07 19:08] scollis commented on #309
Amazon S3

Have boto3 as optional dependency

From: Adam Theisen ***@***.***>
Reply-To: ARM-DOE/ACT ***@***.***>
Date: Wednesday, April 7, 2021 at 2:03 PM
To: ARM-DOE/ACT ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [ARM-DOE/ACT] Expand capability to download data from other APIs (#309)

@kenkehoe any others you can think of?

—
You are receiving this because you are subscribed to this th

[2021-04-07 19:43] kenkehoe commented on #309
I can't think of any APIs. I think we should focus on readers of downloaded data, and adapt to APIs when needed. I'll take a look at the GMD data and see about reading the data.

[2021-04-08 17:34] AdamTheisen commented on #309
@scollis we just removed boto3 when we shifted away from Bobby's bucket of data for testing.  If we have a clear case for it, we can add back in.

@kenkehoe Completely agree on readers.  When I was working on the csv reader, I tested against a number of different formats/delimiters and it was fairly robust against what I used (Ameriflux, NEON, aeronet, array of things, etc...).  Maybe more example

[2021-04-08 17:35] AdamTheisen commented on #309
Also, I'm going to move this over to the discussion board since it's not really an issue.

[2021-04-08 17:35] #309 closed

[2021-04-19 19:30] kenkehoe commented on #300
Sounds good.

[2021-04-30 17:51] jhemedin commented on #305
Closing issue as PR #318 deals with issue

[2021-04-30 17:51] #305 closed

[2021-05-06 15:23] AdamTheisen opened #321 "Functions not showing up in documentation"
I was trying to search and/or view the page for our datafilter function but it's not showing up in the ACT documentation.  I can see it on this list but can't click on it like others.

https://arm-doe.github.io/ACT/API/generated/act.qc.qcfilter.QCFilter.html

[2021-05-06 18:05] AdamTheisen opened #323 "ARM DQR to QC adding multiple qc tests for same DQR"
When i tried plotting up multiple days of a dataset with DQR periods spread across those days each periods was added as a separate QC flag in the qc variable.  I.e. there were 5 tests with the same name with different corresponding times.  We need to look at a more robust way to add these DQRs to the qc variables

[2021-05-06 18:12] AdamTheisen commented on #323
![dqr_issue](https://user-images.githubusercontent.com/13421074/117345869-abfb3480-ae6c-11eb-8826-600e7c74a86c.png)

Plot showing issue

[2021-05-06 19:29] zssherman commented on #321
I'll take a look, could just be a mistyped docstring

[2021-05-06 19:33] zssherman commented on #321
Found the issue doing a PR now @AdamTheisen

[2021-05-06 20:31] AdamTheisen commented on #321
Done with lastest pr

[2021-05-06 20:31] #321 closed

[2021-05-10 15:12] AdamTheisen commented on #307
@jhemedin  would you want to take a stab at this one when you get a chance?

[2021-05-19 15:43] kenkehoe commented on #323
Ummm, that is strange. I'll take a look.

[2021-05-19 15:44] kenkehoe commented on #300
I think this is complete, correct?

[2021-05-19 15:58] AdamTheisen commented on #300
Completed

[2021-05-19 15:58] #300 closed

[2021-06-16 02:02] AdamTheisen commented on #255
It looks like travis-ci.org is read only.  @zssherman @jhemedin we will need to switch over to travis-ci.com now

[2021-06-16 02:12] AdamTheisen commented on #255
@rcjackson Pinging you as well since I believe you set up the first CI/tests using the travis-ci.org site.  I need to look more, but do you know offhand if this is an easy fix?

[2021-06-16 21:13] zssherman commented on #255
@AdamTheisen I apologize, I didn't see this until now, has this been fixed? I for pyart had to migrate then choose the free plan

[2021-06-16 21:14] rcjackson commented on #255
I just fixed it, don’t worry Zach

From: Zach Sherman ***@***.***>
Sent: Wednesday, June 16, 2021 4:13 PM
To: ARM-DOE/ACT ***@***.***>
Cc: Jackson, Robert ***@***.***>; Mention ***@***.***>
Subject: Re: [ARM-DOE/ACT] Continuous Integration Switch (#255)

@AdamTheisen<https://github.com/AdamTheisen> I apologize, I didn't see this until now, has this been fixed? I for pyart had to migrate then choos

[2021-06-17 16:38] AdamTheisen commented on #255
Now this has been resolved

[2021-06-17 16:38] #255 closed

[2021-06-17 16:39] AdamTheisen commented on #307
Fully fixed in #340

[2021-06-17 16:39] #307 closed

[2021-06-17 16:41] AdamTheisen commented on #62
@kenkehoe  it seems to me that this is importing in an ok amount of time (2-4 seconds).  Do you still see issues at all?

[2021-06-17 16:53] kenkehoe commented on #62
It's OK. I'll close it.

[2021-06-29 02:03] kenkehoe opened #342 "DeprecationWarnings"
There are a few warnings I need to track for updates so I'm going to lump them all under here until they are fixed. You can assign this issue to me.

- act/qc/qcfilter.py:737: DeprecationWarning:`np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar ty

[2021-06-29 12:59] AdamTheisen commented on #342
Thanks @kenkehoe !  I thought I had gotten these all, but I guess not!

[2021-06-29 14:49] kenkehoe commented on #323
I believe this has been resolved.

[2021-06-29 20:37] #323 closed

[2021-06-30 20:09] kenkehoe commented on #342
Resolved under PR #343

[2021-06-30 20:09] #342 closed

[2021-07-02 15:26] kenkehoe opened #345 "Decoding times for attributes when time is not decoded"
In io.armfiles.py the filename is parsed to get file date and times. If that fails the first sample in the file is used. This is failing when the file is read but times are not parsed. Need to find a work around to fix or not set date and time attributes

[code]

There are some RAW data files with incorrect time units string which cause the normal xarray time parsing to fail. We read the data with

[2021-07-12 17:32] maxwellevin opened #347 "Attributes on coordinate variable dropped after applying qcfilter.add_test() to data variable"
After applying `ds.qcfilter.add_test()` to a data variable, the attributes on the coordinate variable dimensioning the tested variable are removed. This happens for act-atmos versions 1.0.2 and 1.0.3, but not 0.7.2 and before.

Steps to reproduce below:

`act-test.py`:
[code]

Console:
[code]

[2021-07-12 18:06] AdamTheisen commented on #347
Thanks @maxwellevin for reporting this!  We will take a look.  Pinging @kenkehoe as well

[2021-07-12 21:29] maxwellevin commented on #347
@AdamTheisen sure thing – happy to help. We're using `act` pretty heavily over at https://github.com/tsdat/tsdat and discovered this bug after one of our users noted an issue. I've done a bit more digging into this issue since I posted it and I am pretty certain it is occurring in `create_qc_variable()` function in `act.qcfilter`, lines 165-169:
[code]

before this block I see that `self._obj.time

[2021-07-12 21:41] maxwellevin commented on #347
I'm thinking this is actually an Xarray issue. See below:

xr-test.py
[code]

console:
[code]

[2021-07-12 21:57] maxwellevin commented on #347
@AdamTheisen @jhemedin I found a fix. The issue was that
[code]

is setting the dimensions but not the coordinates. Adding a line with `coords=self._obj[var_name].coords` fixes this. It also makes the `dims=self._obj[var_name].dims` line unnecessary.

How would you like to proceed? Should I submit a PR, or would you like to go a different route?

[2021-07-12 22:48] kenkehoe commented on #347
Thanks @maxwellevin that is a good catch. Testing with your `coords=self._obj[var_name].coords` suggestion works for me. I can make the PR or you can.

[2021-07-12 23:46] AdamTheisen commented on #347
@maxwellevin always happy to get more contributors listed if you want/have time to do the PR. Otherwise as Ken noted, we're happy to do it to

[2021-07-12 23:58] maxwellevin commented on #347
Sorry, was in a call that went long. I'm happy to submit a PR and become a contributor! Do you have any specific guidelines I should follow when submitting it?

[2021-07-13 00:02] jhemedin commented on #347
Hi Max, you can refer to the contributors guide for submitting a PR: https://github.com/ARM-DOE/ACT/blob/master/CONTRIBUTING.rst.

[2021-07-13 00:09] maxwellevin commented on #347
Thanks @jhemedin – those guidelines are very well-written and helpful! I just submitted a PR with the change I made.

[2021-07-13 20:57] #347 closed

[2021-07-23 15:39] AdamTheisen opened #354 "Ability to read ICARTT files into ACT"
There has been growing interest in reading ICARTT formatted files into xarray.  There may be some options out there to pull in as optional dependencies but they would need to be explored.

https://pypi.org/project/icartt/

[2021-10-06 19:08] avarble opened #361 "CAPE and CIN calculations"
I saw that you are using MetPy for the CAPE and CIN calculations. Those calculations are incorrect because MetPy uses temperature instead of virtual temperature in the calculations. We reported this here: https://github.com/Unidata/MetPy/issues/2093.

[2021-10-06 22:07] avarble commented on #361
@zssherman It should be a quick fix. All you need to do is replace temperature with virtual temperature in the buoyancy calculation for CAPE and CIN.

[2021-10-06 23:24] zssherman commented on #361
@avarble sounds good!

[2021-10-07 00:27] zssherman commented on #361
@AdamTheisen @avarble From what i'm seeing is, or understanding is virtual temperature is calculated within metpy. So I'm trying to think then would the fix be then to include the virtual temperature calculation within the CAPE and CIN calculations? Not sure if Virtual temperature is typically included in datasets or is needed to be calculated. Based on that, can do changes to reflect that, just t

[2021-10-07 19:03] zssherman commented on #361
@dopplershift Gotcha, yeah if thats the case, I can just used metpys virtual temperature calculation and pass those instead. Thanks for the information!

[2021-10-07 20:25] avarble commented on #361
@dopplershift There are certainly different ways of calculating CAPE in terms of whether to keep or unload condensate, whether to include an estimate for fusional latent heating, and of course what you take as your starting parcel properties. But, as far as I know, they all use virtual temperature, not temperature, so using temperature to compute CAPE is incorrect in an absolute sense. It is calle

[2021-10-14 20:15] kenkehoe opened #363 "Correctly handle greater than 32 QC tests"
There is a file with 32 QC tests defined in the ARM method. When the cleanup is run to convert to CF QC standard the bitpacked number for the 32nd test is causing an overflow issue and is circling around to negative numbers. Need to detect the overflow error and upcast the data type to int64.

I'm working on this now, you can assign to me.

[2021-10-21 17:16] zssherman opened #366 "Master to main renaming."
Hello, so following GitHub standards:
https://www.git-tower.com/learn/git/faq/git-rename-master-to-main

Master branch renaming to main is desired for more open community and inclusiveness. I can change the branch to main easily, everyone with a fork will have to rename to main on their remote and local. I can provided instructions on how, but before I proceed wanted approval.

[2021-10-21 18:02] zssherman commented on #366
@AdamTheisen

Following GitHub standards for a more open community and inclusiveness, Py-ART's main branch will be renamed from master to main.

https://github.com/github/renaming
https://www.git-tower.com/learn/git/faq/git-rename-master-to-main

For those using py-art with anaconda and pip, there will be no changes . If you are using a fork of Py-ART with GitHub under branch settings on GitHub yo

[2021-10-21 18:04] #363 closed, assigned to kenkehoe

[2021-12-08 21:40] kenkehoe commented on #57
I have created a PR to speed up the option for plotting with add_nan keyword. Looking at the plotting of radar data I was getting better results by using .resample() method on the Dataset before plotting to get the time step more regular and smaller. The plots looks more correct with non-standard time steps. matplotlib can't render high frequency anyway, should we add keywords to help with resampl

[2021-12-14 16:49] ajsockol opened #372 "SkewT Plots not working when Pressure does not Decrease Monotonically"
I'm getting this error when trying to plot skewT diagrams:
![Screen Shot 2021-12-14 at 10 45 18 AM](https://user-images.githubusercontent.com/49569746/146041691-333470fc-9363-49ec-ae36-4fbd9b939e2d.png)

Looking at skewtdisplay.py, it seems there *is* a fix in place for this issue, but it still raises an invalid sounding error when it tries to implement the fix. Maybe we just need to implement som

[2021-12-14 18:35] AdamTheisen commented on #372
Thanks @ajsockol !  I've ran into this before with the PBL calculations in the calculate_pbl_liu_liang retrieval code.  I had to do some smoothing to the pressure ahead of time.  The plotting might not be an issue if there are NaNs but we'll have to test that.

[2022-01-05 17:57] cgodine opened #374 "Unclosed configuration file causing issues"
The DQO production server has been returning a flood of ResourceWarnings having to do with unclosed resources:

`ResourceWarning: Enable tracemalloc to get the object allocation traceback`

Searching through all of the processes that produce this error, it appears it has to do with a file in the utils area not being closed after being used (act/utils/conf/de421.bsp). Since this file is rather larg

[2022-01-05 17:59] zssherman commented on #374
Thanks @cgodine for the heads up! I'll take a look and see if I can find a way to fix this.

[2022-01-05 20:08] zssherman commented on #374
@cgodine Can you post the full error? The de421.bsp file is being closed in ACT, unless skyfield itself is not closing it properly using their built in .close()

[2022-01-05 20:21] zssherman commented on #374
@cgodine Think I figured it out, the kernel for that file doesn't close, despite using .close() i'm going to do a PR and see if a del helps it

[2022-01-05 20:39] zssherman opened #378 "Merge PR unit tests are out of credits."
After merging Jasons PR I realized the unit tests didn't run so we had a false pass. I am contacting travis now about the open software credits and showing ACT as an open source package.

[2022-01-05 21:07] zssherman commented on #378
I have messaged Travis with proof of OSS, and should hear back soon.

[2022-01-06 15:48] cgodine commented on #374
@zssherman I put full traceback text in #375.

[2022-01-07 16:13] kenkehoe commented on #374
@zssherman  do you want to make a release for us to test on our production system?

[2022-01-07 18:01] zssherman commented on #374
@kenkehoe I can do that, I was going to wait on brandon rhodes to see if there was maybe a more robust solution, but this temporary attempted fix might be fine for the mean time.

[2022-01-07 18:15] zssherman commented on #374
@kenkehoe Is the ACT on the production systems conda installed or source installed?

[2022-01-07 18:18] kenkehoe commented on #374
@zssherman  the ACT on our production system is conda installed.

[2022-01-07 18:23] zssherman commented on #374
@kenkehoe Gotcha do we have a way to test this in a similar environment as the production system? I want to make sure the temporary del fix works, if not I want to explore other avenues.

[2022-01-07 18:29] zssherman commented on #378
They added more credits, closing.

[2022-01-07 18:29] #378 closed

[2022-01-07 18:37] kenkehoe commented on #374
Ummmm, maybe? We are having a hard time reproducing the error on our dev system. Let me look into this and see. I assume you have not merged into master yet. Is that true?

[2022-01-07 18:43] zssherman commented on #374
I have not, I pinged Brandon as well, waiting to hear back. But if we can test it, if it works I can merge the temp fix and do a release until we find a better solution or the true cause.

[2022-01-10 22:06] AdamTheisen commented on #62
@zssherman we've been asked to look into this issue again as the import times may be causing issues with the DQ processing.

[2022-01-10 22:31] zssherman commented on #62
@AdamTheisen Gotcha, what were we using previous to check import times for act?

[2022-01-10 22:49] AdamTheisen commented on #62
@zssherman I think you ran some tests in the past but I was using the newer python -X importtime script.py. @kenkehoe was going to help and run this on their systems/environments.

[2022-01-10 23:00] zssherman commented on #62
Gotcha, yeah if he runs it on their system, I can get a better idea of where the hold up is in the code.

[2022-01-11 00:02] kenkehoe commented on #62
System | Self Time [us] | Cumulative Time [us]
---------------------------------------------------
procnode1-dev (i.e. mercury) | 700,725 |  5,145,136
emerald | 1,470,465 |   11,659,648
emerald (using local disk only) | 687,683 | 2,826,976
dq1 (i.e. gold) | 1,186 |  2,335,415
my Mac laptop | 129,503 | 4,654,856

[2022-01-11 02:51] AdamTheisen commented on #62
Thanks @kenkehoe ! That's an interesting range of times. Do you have the full output at all? That will help narrow down the areas taking the longest

[2022-01-17 14:17] AdamTheisen opened #385 "Tests for Python3.7 not completing"
@zssherman there's something strange going on with the travis build for Python 3.7 after PR #383. The build looks to be stalling on the test_io module.  Python3.8 passed though.  Is there anything in the recent PR that may have caused this that you can think of?

[2022-01-17 16:26] zssherman commented on #385
None of the changes, shouldn't have effected it. I reran the CI PR and it seems to run fine.

[2022-01-17 16:28] zssherman commented on #385
and that PR is after that other PR, so couldn't have been a random timeout connection issue.

[2022-01-17 18:16] AdamTheisen commented on #385
@zssherman you just reminded me that the ADC was doing some database updates this morning which may have caused some timeout issues.  Will close this out.

[2022-01-17 18:16] #385 closed

[2022-02-01 04:51] gg2 opened #387 "numpy dtype error when plotting time"
While testing ACT to fetch arbitrary plot data, I'm running it against some local VAP data. For most variables it plots successfully; but if I try to plot the variable 'time', I get the following error:
"
The DType <class 'numpy.dtype[datetime64]'> could not be promoted by <class 'numpy.dtype[float64]'>. This means that no common DType exists for the given inputs. For example they cannot be stored

[2022-02-01 23:55] AdamTheisen commented on #387
Thanks for reporting @gg2 ! We will take a look soon and start some testing

[2022-02-02 22:48] AdamTheisen commented on #387
Okay, this looks like our handling of the y-axis range needs to be improved to handle these types of cases.  I will see what I can do

[2022-02-03 03:22] AdamTheisen commented on #387
@gg2 there was a little more to this since by default xarray and ACT convert time to a datetime.  I have made a couple updates to the code that I'll get a PR going on.  Once that's in place, if you want to plot the actual 'time' double values, there are some keywords you will need to set when reading the data in.

`nc_data = act.io.armfiles.read_netcdf(files,decode_times=False, cftime_to_datetime6

[2022-02-05 00:43] gg2 commented on #387
Cool. Thanks for improving that. I don't know if anyone plots time very often. But since it came up while trying to just grab a simple variable to test ACT, I figured you might as well know.

[2022-02-05 01:29] AdamTheisen commented on #387
Thanks again for reporting! @gg2 !

[2022-02-05 01:30] #387 closed

[2022-02-18 06:31] maxwellevin opened #391 "Adding qc tests becomes very slow for datasets with a large number of variables"
I'm supporting a `tsdat` data user who has with a dataset with 300+ variables in that they want to apply some qc to. Tsdat uses the `act` `qcfilter.add_test(...)` dataset accessor under the hood to record the results of our quality checks and we're finding that for large datasets this method can quickly get prohibitively expensive. At first I thought it was because we had to generate and attach ne

[2022-02-18 06:51] maxwellevin commented on #391
Using a profiler sheds even more light on what's going on. Here's the results of the profiler for `n_variables = 100`:

<img width="1297" alt="image" src="https://user-images.githubusercontent.com/24307537/154628894-631cf18a-e472-4012-9bb2-e78971256520.png">

From this it is clear that the `matched_qc_variables` property in `act.qc.clean.py` is where all of the time is spent in the example code I

[2022-02-18 14:05] AdamTheisen commented on #391
Thanks for reporting this @maxwellevin!  One of our priorities with our second roadmap is optimization so this is perfect timing.  We'll take a look and see what we can do to improve this!

[2022-02-18 16:29] maxwellevin commented on #391
@AdamTheisen Awesome, thanks for taking a look at it!

Is your roadmap publicly-available? Just curious about what you all have planned & the timelines for all that.

[2022-02-18 16:36] AdamTheisen commented on #391
@maxwellevin it's on my list to merge in today!

[2022-02-18 18:55] AdamTheisen commented on #391
@kenkehoe Just wanted to get your thoughts here.

There are a number of for loops in this and we can get rid of one at least.  Since att_name is scalar and there shouldn't be multiple dictionary keys with att_name we can get rid of the last for right?  I like @maxwellevin suggestion but I still think there's a way to optimize this more...

[code]

[2022-02-18 19:00] kenkehoe commented on #391
Interesting @AdamTheisen  I'll take a look.

[2022-02-21 21:30] mgrover1 opened #395 "Add Google Analytics to ACT Documentation"
It would be helpful to be able to track user interaction with the documentation/examples. We can add an Google Analytics ID the docs to help with this!

[2022-02-21 22:48] mgrover1 opened #397 "Add additional files to exclude from codecov"
After submitting #396 , I noticed that codecov percentage decreased... we should _probably_ add the `docs` directory to the `omit` list [here](https://github.com/ARM-DOE/ACT/blob/master/.coveragerc)

[2022-02-22 00:12] AdamTheisen commented on #397
Thanks @mgrover1 ! We normally have a decrease of 0.5 to 0.6% that I believe is due to some unit tests on APIs that only run on merge. I'll check some more tomorrow and provide a detailed list.

[2022-02-22 17:40] mgrover1 commented on #397
Okay! Good to know!

[2022-02-22 21:44] #395 closed

[2022-02-23 16:50] mgrover1 opened #399 "Add Docs on Setting Environment Variables or Dealing with Keys/Passwords"
While working on #380 , I realized that the documentation does not mention that the user needs to set environment variables such as `ARM_USERNAME`, `ARM_PASSWORD`, or the new `AIRNOW_TOKEN` variable, which contain sensitive information required to access the data apis...

The user needs to set these before they can run through their testing locally... what are your thoughts here @AdamTheisen ?

We

[2022-02-23 16:55] AdamTheisen commented on #399
@mgrover1 That's a good question.  Essentially, we've been under the assumption that the users won't really run the unit tests locally so we didn't put much though into making it more easily accessible and even then, if they run locally, the tests should skip the ones that use those environment variables in the event they don't have them set.  Thoughts?

[2022-02-23 20:24] mgrover1 opened #401 "Add pre-commit hooks"
[Pre-commit hooks](https://pre-commit.com/) can be helpful when ensuring formatting guidelines, prior to running through CI. It could make it easier for those contributing to have these hooks enabled within ACT.

Within the installation instructions, we would need to add the following line - along with a short summary of why this is needed

[code]

[2022-02-23 20:35] AdamTheisen commented on #391
A new release is out there with this fix so will be closing.  Thanks @maxwellevin and @kenkehoe !

[2022-02-23 20:35] #391 closed

[2022-02-23 21:41] mgrover1 commented on #397
@AdamTheisen should I go ahead and close this then? Since the issue raised wasn't what's going wrong?

[2022-02-23 22:00] AdamTheisen commented on #397
Yes, I think we can close this

[2022-02-23 22:00] #397 closed

[2022-03-01 22:47] AdamTheisen opened #402 "Groupby Plots"
It would be beneficial to add a function that will plot data grouped by certain periods of time.  For instance, the following is fake data that's grouped and plotted by year.  Goal would be to provide generic function to handle groupby's for day, month, year.

Year Grouping
![image](https://user-images.githubusercontent.com/13421074/156261678-622b47c7-987d-4b6e-8ddb-e27b297ba638.png)

Month Groupi

[2022-03-02 21:48] AdamTheisen opened #403 "Problems with Pandas time formatting when ARM files do not start at 0000 UTC."
Pandas, and dateutil parser incorrectly handles ARM time because it does not parse the units string correctly.  Xarray uses the pandas Timestamp function which I think defaults to iso8601 standards which ARM does not follow.  I should note that this is only an issue when we are trying to decode the time into an actual datetime in python, which xarray defaults to.  The issue boils down into how we

[2022-03-02 21:49] AdamTheisen commented on #403
@mgrover1 let's talk about this sometime!  I'll try and get an example data file to you in the upcoming days but I'm not sure if this is something we could fix in pandas.  We are working around this in ACT but I think it adds complication in the io/armfiles.py module.

[2022-03-03 15:17] zssherman opened #405 "New Continuous Integration for ACT."
Notice we've run out of credits or travis no longer runs. Will need to switch to GitHub actions soon or circle CI.

[2022-03-03 15:21] rcjackson commented on #405
I’ve switched to GitHub actions. It uses Circle CI for its CI engine, and it’s easier to set up than Circle CI. I’d highly recommend it.

From: Zach Sherman ***@***.***>
Date: Thursday, March 3, 2022 at 9:18 AM
To: ARM-DOE/ACT ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [ARM-DOE/ACT] New Continuous Integration for ACT. (Issue #405)

Notice we've run out of credits or travis no longer runs. W

[2022-03-03 15:38] zssherman commented on #405
@rcjackson Do you have an example of how your using it? Curious how to define multiple OS and python versions.

[2022-03-07 17:20] kenkehoe opened #408 "QC bitwise comparison of float values"
Some xarray methods may cast the QC variables from type int to type float. For example .resample() will convert all variables to float type. This causes issues when performing bitwise comparisons of QC variables. In particular

in function get_qc_test_mask()

    check_bit = set_bit(0, test_number) & qc_variable

Need to check variable type and cast to int before performing bitwise comparison.

[2022-03-07 17:20] kenkehoe commented on #408
This can be assigned to me

[2022-03-07 21:22] #408 closed

[2022-03-10 16:06] mgrover1 commented on #403
@AdamTheisen do you have a sample file we could use to check this out?

[2022-03-10 16:52] #366 closed

[2022-03-14 13:40] mgrover1 commented on #403
Taking a look at this today!

[2022-03-14 14:28] mgrover1 commented on #403
So it looks like it's an issue that [ `cftime`](https://unidata.github.io/cftime/) can solve.. for example:

[code]

We can convert this to `np.datetime` by using:

[code]

This issue is solved within the `act.io.armfiles.read_netcdf` module, but if anyone is using Xarray directly, this snippet will help!

[2022-03-15 17:50] #401 closed

[2022-03-15 17:50] #405 closed

[2022-03-22 15:31] mgrover1 opened #422 "BUG: Missing Contribution Guide in Docs"
As of now, the contributing guide is missing from the docs although there is a copy at the base level of the repo. We need to link to this from the `index.rst` file

[2022-03-22 16:31] AdamTheisen opened #424 "Coveralls tracking broke in transition to github workflows"
Coveralls stopped tracking code coverage with the switch to github actions.  We need to set code coverage testing back up and link to coveralls or replace it.

[2022-03-22 16:32] AdamTheisen opened #425 "Environment variables missing for testing"
It looks like we missed some environment variables from TRAVIS-CI that were set for testing when porting over to github actions

[2022-03-22 16:37] AdamTheisen commented on #424
https://stackoverflow.com/questions/60362121/how-to-configure-coveralls-with-github-action

[2022-03-23 13:52] AdamTheisen opened #427 "Add tests for SP2 functions"

[2022-03-23 18:50] kenkehoe commented on #372
I was able to fix this in the DQ Office code by looking for differences that are greater than or equal to zero for pressure and resample the Dataset to exclude those values. Should we look into implementing this logic for Sonde Skewt plotting? The other option is to not extract the good values but set the issue causing Pressure values to NaN in a copy of the Dataset.

[2022-03-23 18:53] kenkehoe opened #430 "Update cftime to datetime64 values"
We had issues with reading time not formatted to the way Panda's expected and had to update to use cftime. My implementation of the cftime to datetime64 is not as slick as using

ds['time'] = ds.indexes['time'].to_datetimeindex()

Should look into this better fix.

[2022-03-23 18:55] kenkehoe opened #431 "Keep variables option for reading"
Currently we can only make reading faster or Dataset smaller by using drop_variables keyword. But this requires proper knowledge of the variables we do not want to read. Would be better if we can have a keep_variables keyword.

Apparently we can use xarray reading methods with chunks set to empty dictionary to have xarray only read metadata, not data. This could then allow us to implement a keep_v

[2022-03-25 13:04] AdamTheisen commented on #431
Thanks @kenkehoe this does sound like it would be useful. @mgrover1 something you would want to take on?

[2022-03-25 13:07] AdamTheisen commented on #427
According to coveralls, it appears that pysp2 is not being imported correctly in the testing.  We will have to look into this.
https://coveralls.io/builds/47673215/source?filename=act%2Fretrievals%2Fsp2.py

[2022-03-25 13:07] AdamTheisen commented on #425
This was resolved and is operational now

[2022-03-25 13:07] #425 closed

[2022-03-25 13:08] AdamTheisen commented on #424
This is now resolved with #425

[2022-03-25 13:08] #424 closed

[2022-03-25 13:09] #422 closed

[2022-03-25 13:13] AdamTheisen commented on #372
@kenkehoe with the samples so close together this is what I did in the pbl height calculations

`ds[pressure] = ds[pressure].rolling(time=smooth_height, min_periods=1, center=True).mean()`

if that didn't work, then I increased the smoothing

`ds[pressure] = (ds[pressure].rolling(time=smooth_height + 4, min_periods=2, center=True).mean())`

[2022-03-25 17:49] mgrover1 commented on #430
@kenkehoe are you suggesting rewriting the current implementation using that one-liner?

[2022-03-25 17:55] kenkehoe commented on #430
@mgrover1  I'm not sure what I mean now. I looked into it and this different implementation seemed better but did cause another issue. I need to look into this some more.

[2022-03-28 21:08] AdamTheisen opened #438 "Latest Action Runs are Failing"
Latest PR and build runs are failing with

[code]

[2022-03-28 21:21] mgrover1 commented on #438
I honestly have no idea what is going on here... 😮 it appears to be the way the way Cython/Numpy interface with each other, but not sure why this issued is now occurring

[2022-03-31 17:59] #438 closed

[2022-04-04 23:11] AdamTheisen opened #445 "Clean up branches"
It looks like there are a number of additional branches that we should review and clean up

[2022-04-11 16:47] mgrover1 commented on #445
@AdamTheisen I went through and cleaned up the branches - the only extra branch (other than `main` or `gh-pages`) is the `sp2_dev` which is currently open as a PR

[2022-04-11 16:52] AdamTheisen commented on #445
Thanks Max!

[2022-04-11 16:52] #445 closed

[2022-04-12 14:11] AdamTheisen opened #446 "Error when clean routine tries to remove unused bits"
When running the script below on the ARM ADC systems, an error occurs when trying to add a DQR to the QC which stems from trying to remove unused bits from those QC variables

[code]

[code]

[2022-04-12 14:14] AdamTheisen commented on #446
@mgrover1 I'm not able to assign this to @kenkehoe for some reason but other Ken's from ARM show up that aren't on the ACT project board.  Do you know why by chance?

[2022-04-13 23:18] #446 closed

[2022-04-18 15:10] mgrover1 commented on #427
Closing since #435 adds more tests, fixes the import issues

[2022-04-18 15:10] #427 closed

[2022-04-20 16:01] AdamTheisen opened #448 "ARM Webservice Only works with Dates with -"
We should add some more robust processing to the get_armlive download_data module.  When passing in an ARM formatted date (20220101) it does not work and expects 2022-01-01.  We should add some catches for that and additional catches for "not real" dates like 2022-04-31 so that we use the nearest date.

[2022-04-20 19:18] zssherman commented on #448
I'll take a shot at this.

[2022-04-21 13:50] mgrover1 commented on #448
@AdamTheisen what if we took in a date time instead of a string?

[2022-04-21 14:54] kenkehoe commented on #448
I think taking in a datetime as one of the options is a good idea, but would prefer we not limit it to just a datetime. I think using dateparser if string, use datetime.datetime or numpy.datetime64 if that is used.

[2022-04-24 22:06] AdamTheisen opened #451 "Usability Issue: plot_barbs_from_spd_dir takes in direction, speed"
For example:

`TimeSeriesDisplay.plot_barbs_from_spd_dir(dir_field, spd_field, pres_field=None, dsname=None, **kwargs)`

It would make sense to change the input to spd_field, dir_field or rename the function for consistency.

[2022-04-27 21:19] gg2 opened #454 "qc_flag_block_plot Errors: KeyError for flag_masks, ValueError for ancillary variable, etc."
I encounter various errors attempting to load QC plots.
I'm using ACT to generate plots programmatically from any arbitrary ARM dataset. I use act.plotting.TimeSeriesDisplay to get an initial object/plot -- call it ts_display.
I then look for companion QC data.
If that appears to exist, I call ts_display.qc_flag_block_plot(data_var_name, subplot_index=(1,))
So, I already know the data var and its

[2022-04-27 21:22] gg2 commented on #454
An example for the KeyError, on ADC servers:
/data/home/sivaraman/data/datastream/sgp/sgprnccnprof1kulkarniC1.c1 -- ccn_1 and qc_ccn_1 variables.
An example for the ValueError:
/data/home/gibler/vap/aodbe/DATA/data/datastream/sgp/sgpaodbe2chC1.c1 -- aod_be_870 and qc_aod_be_870 variables.

[2022-04-27 21:28] AdamTheisen commented on #448
#449  has resolved the initially reported issue

[2022-04-27 21:28] #448 closed

[2022-04-28 14:36] kenkehoe commented on #454
@gg2  I'll take a look. Are you running the dataset_name.clean.cleanup() method on the Dataset before plotting. ARM's QC does not work directly with the internal logic. The ARM QC needs to be converted to CF QC before the QC will work.

[2022-04-28 15:45] kenkehoe commented on #454
This is working for me.

[code]

[2022-04-28 18:27] gg2 commented on #454
OK. No, I haven't known about that. I was working from the example on this page, which mentions querying ARM data and uses qc_flag_block_plot, but not the cleanup you mentioned:
https://arm-doe.github.io/ACT/source/auto_examples/plot_qc.html#sphx-glr-source-auto-examples-plot-qc-py

Looks like it might be good to expand that example. Is it not necessary there for some reason?

I'll give the cleanu

[2022-04-28 19:13] AdamTheisen commented on #454
@gg2 thanks for catching that!  We automatically apply the cleanup in that add_dqr_to_qc function so that we can work with the QC.  I am putting together an ACT tutorial for the open-science workshop that does showcase this if interested: https://github.com/AdamTheisen/ARM-Notebooks/blob/main/Open-Science-Workshop-2022/tutorials/act-basics.ipynb

It would be good to add an example like this to the

[2022-04-28 19:41] gg2 commented on #454
cleanup did fix the issue. I get QC plots now. I'll give the notebook a look.

The basics of what I'm doing are exactly that page I referenced. But it's reordered and a little more convoluted (and includes error-checking and all) because I'm trying to control the plot output based on whether there is QC or not, and whether it successfully loads or not.

[2022-04-28 20:49] gg2 commented on #454
@AdamTheisen For looking at the qc.arm.add_dqr_to_qc code and the notebook now, I think it is good to point out the clean method separately. From my perspective, for what I'm trying to accomplish, I'm not sure I would need or want the add_dqr_to_qc part. ACT is promoted as what I should move to for examining ARM data. But I think I'm mainly trying to examine what is actually in the netCDF files, v

[2022-04-28 21:25] kenkehoe commented on #454
@gg2 good points. @AdamTheisen let's add a call to .clean.cleanup() in the example to be explicit about cleaning up the Dataset.

I'll see about putting together an example with the way I would go about checking if a QC variable exits to indicate the number of plots to plot.

[2022-04-28 21:35] kenkehoe commented on #454
@AdamTheisen  do you think we should a keyword in act.io.armfiles.read_netcdf() to apply .clean.cleanup()? That would be one less extra call after reading and may be a way to get documentation into the read_netcdf() function on the need to apply QC cleanup.

[2022-04-28 21:39] AdamTheisen commented on #454
@kenkehoe I like that idea. We would want the default to be False though right? Or we could default to True since it is an ARM netcdf reader. Open to options though

[2022-04-28 21:43] kenkehoe commented on #454
@gg2 here is an updated version with how I would handle the second plot that is dependent on existence of QC variable.

[code]

[2022-04-28 21:44] kenkehoe commented on #454
@AdamTheisen I think setting the cleanup to False as default is best. I see the reader as more generic than just ARM netCDF files.

[2022-04-28 22:43] gg2 commented on #454
Nice. @kenkehoe that's essentially what I did. Yours is a little simpler to read and apply. The main difference I added in was a check for errors and attempt to resize the plot if qc_flag_block_plot failed (which it was doing, since I wasn't using cleanup). Also, your usage of qcfilter is good. I should switch to that. This is what I have (snipped from a bigger context):

[code]

Also note, the co

[2022-04-29 00:29] kenkehoe commented on #454
@gg2  if you are trying to adjust the margins around the plots I've found

`ts_display.fig.subplots_adjust(left=0.1,right=0.85, bottom=0.08, top=0.95, hspace=0.2)`

works better. Also, using the ds_object.qcfilter.check_for_ancillary_qc() may be better as the datastreams are not always consistent and we try to make things right in the Dataset but there are some non-standard stuff in an "ARM standa

[2022-04-29 20:19] kenkehoe commented on #454
Offline discussion with Gabe indicate this issue has been resolved. I will add a keyword to read_netcdf() to apply .clean.cleanup().

[2022-04-29 20:19] #454 closed

[2022-04-29 20:52] kenkehoe commented on #374
@cgodine  is this still an issue we need to look into or can we close this out?

[2022-05-04 14:35] mgrover1 opened #458 "Write a Blog Post Looking at Plane Profiles"
It would be nice to put together a blog detailing how to work with the AMDAR dataset, using profiles from the Chicago area, overlaid with some radar imagery...

[2022-05-05 18:44] AdamTheisen opened #459 "Need a new plot module to allow for non-time plotting on X-axis"
There's been a request to allow for non-time plotting on the xaxis, like solar zenith or other variables.  A new plotting module for x-y plots and not specifically time series would be beneficial.

[2022-05-05 18:45] AdamTheisen opened #460 "Additional plotting examples"
Some additional needs were brought up with the ACT plotting examples.  It would be useful to provide

- Examples for working with axes returned from plotting code and modifying them after plot generation
- Examples for using the integrated xarray plotting for quick plots

[2022-05-19 17:43] kenkehoe commented on #430
I'm going to close this. The currently works and I don't see the benefit of changing.

[2022-05-19 17:43] #430 closed

[2022-05-19 17:44] kenkehoe commented on #374
I think this issue was resolved. I'm going to close. We can reopen if the issue comes back.

[2022-05-19 17:44] #374 closed

[2022-05-19 17:45] kenkehoe commented on #372
Is this still an issue @AdamTheisen ?

[2022-05-19 17:48] kenkehoe commented on #431
I have a little time to look into this now. This is something the DQ Office uses every day and would be nice to move from our dqlib repo to ACT.

You can assign this issue to me.

[2022-05-20 18:20] AdamTheisen commented on #372
Yes, should have closed out with #436

[2022-05-20 18:20] #372 closed

[2022-05-27 19:10] kenkehoe opened #469 "Function to create movies"
The DQ Office creates many movies from static plots. Another researcher is working on a project that would benefit from a simple way to create moves from plots. We should create a function to make movies from a list of images. Finding a mostly Python way to do this would be best.

[2022-05-27 19:50] mgrover1 opened #470 "Exclude Test Data from Packaging"
As was raised in #468 , it would be good to exclude the data files from packaging, which would cut down the space by ~68 mb. If users are interested in using it, they can clone the repo, and access it from there.

[2022-06-04 01:23] AdamTheisen opened #472 "Plotting flag variables"
### Discussed in https://github.com/ARM-DOE/ACT/discussions/471

<div type='discussions-op-text'>

<sup>Originally posted by **maxwellevin** June  3, 2022</sup>
Hi act-atmos team,

I'm working with some ARM data that has a state indicator variable I want to plot. In my case I am working with there is a `cloud_phase` variable which looks something like this:

[code]

So a value of 0 indicates clear

[2022-06-04 01:25] AdamTheisen commented on #472
I think we could do this through the existing plot function in TimeSeries but by passing in some discrete shading keywords and information.

[2022-06-06 17:22] kenkehoe commented on #472
I think you are correct @AdamTheisen. Should we look into making this a plotting option that correctly handles the flag_values, flag_meanings? Is that something that would be used often enough?

[2022-06-06 17:24] #431 closed

[2022-06-06 20:23] AdamTheisen commented on #472
@kenkehoe I was thinking more of a generic discrete colorbar style plotting with the ability to pass in a dictionary of values/meanings.  I think that would be used more than basing it off the flag_values/flag_meanings keywords

[2022-06-07 15:48] kenkehoe commented on #472
@AdamTheisen  good point. I'll look into this. You can assign this to me. I think we can show some simple code to transform flag_values and flag_meanings into the dictionary to pass in, as you suggest. That will handle all cases.

[2022-06-10 13:17] mgrover1 commented on #62
Here is profile how long each of the imports takes

<img width="1425" alt="Screen Shot 2022-06-10 at 8 08 17 AM" src="https://user-images.githubusercontent.com/26660300/173071487-3fca293d-d779-497e-bb0e-6fa778f31233.png">

Currently, we import everything at the top level:

[code]

The only way to speed things up would be to change the api a bit, essentially requiring the user to import what they n

[2022-06-10 13:36] AdamTheisen commented on #62
This definitely needs more discussion but it might be worth it in the long run if we expect ACT to continue to grow in size.  Or we work on excluding the test files and data first and then go from there.  Definitely open, but we would want to run this by other users.  I would be curious what @maxwellevin would have to say with the other projects that use ACT and if the import time is an issue.

[2022-06-10 15:56] kenkehoe commented on #62
I agree this is worth discussing and testing. Moving the testing files out of the installed repo and improving the speed would be worth the effort to move ACT inline with other highly used and regarded repos. Now is our chance to make these changes that could affect usage. Making the change in the future will just be more difficult. Would it be possible to go the numpy route with both options work

[2022-06-10 17:06] maxwellevin commented on #62
@AdamTheisen for `tsdat` we haven't thought much about optimizing module loading, but we definitely will at some point. I don't know much about how to improve it outside of what has already been suggested here, so I am definitely interested in learning more about this. For kicks I ran the same thing as @mgrover1 (I think?) to generate tsdat's import profile and it looks pretty evenly split between

[2022-06-11 22:25] AdamTheisen opened #477 "Unit Tests for Airnow not running"
It looks like the airnow tests are not actually seeing the secret token for airnow so it's not running any of the airnow tests.

[2022-06-12 19:33] AdamTheisen commented on #477
I may want some different eyes on this as I'm pretty sure this is the exact same way I'm doing the ARM web service test.  It's just not grabbing the secret I set up.  @zssherman or @mgrover1 if you get some time this next week would you want to look over the test_airnow function in test_discovery.py and make sure I don't have any obvious mistakes in there?

[2022-06-13 14:11] AdamTheisen commented on #477
I think I figured it out.  I had to add the secret to the environment in the github actions config files.  Hoping #479 fixes this

[2022-06-13 14:13] AdamTheisen commented on #399
See #477 .  Process is to add secrets to Github, add those secrets to the environment in the github actions config files, and then get those environment variables in the script the normal way such as os.getenv.

[2022-06-22 01:59] #477 closed

[2022-06-22 23:44] gg2 opened #482 "HistogramDisplay, plot_stairstep_graph encounters ValueError for range"
I'm attempting to generate histograms for some Aerosol Optical Depth data. It is rather sparse, and looks like this:

[nan, nan, 0.04041248, nan, nan, nan, nan, nan, nan, 0.08403611, nan, nan, nan, nan, nan, 0.08443181, 0.05368716, nan, 0.07251927, 0.05726737, nan, 0.04878159, nan, 0.06544831, nan, nan, nan, nan, 0.04621224, nan, nan]

Plotting like so:
[code]

It encounters this error:
Traceback

[2022-06-22 23:47] zssherman commented on #482
@gg2 We might need to add a check for it, for now can you np.ma.masked_invalid your range? should just mask the nans then ignore them hopefully

[2022-06-22 23:50] gg2 commented on #482
Wow! That was fast. I'll try it.

Also, `bins` is not allowed to be `None`, or not provided as a parameter to plot_stairstep_graph() (because it then defaults to `None`.

[2022-06-23 01:18] gg2 commented on #482
I don't know how to apply the MaskedArray to the underlying Xarray.

[code]

[2022-06-23 14:23] mgrover1 commented on #482
@gg2 do you have a sample file we can test with?

[2022-06-23 14:42] mgrover1 commented on #482
@gg2 one solution would be to drop the missing the values using Xarray's dropna() functionality. It would like something like this:

[code]

[2022-06-23 17:18] gg2 commented on #482
I'll give that a try.
Huh, I thought I searched all past issues for histogram and came up with nothing. Thanks for doing the search for me apparently.

Thank you.

[2022-06-23 17:26] mgrover1 commented on #482
That was a pull request I worked on this morning! New code :)

[2022-06-23 19:36] #482 closed

[2022-06-23 20:22] gg2 commented on #482
Just to report back here, I did try dropna. It was simple to apply and worked for the ACT version I'm using (1.1.6).

[2022-06-23 20:25] mgrover1 commented on #482
Fantastic! Great to hear!

[2022-06-23 20:26] zssherman commented on #482
@gg2 We will also be doing a release here shortly, 1.1.9, which should have this built in now, correct @mgrover1 ?

[2022-06-23 20:36] mgrover1 commented on #482
Yup!

[2022-06-23 20:51] mgrover1 commented on #472
Can we close this @AdamTheisen ?

[2022-06-27 15:07] AdamTheisen commented on #472
Yes @mgrover1 !  @maxwellevin please check out @kenkehoe recent additions and the example and let us know if that works for your purposes.  Thanks!

https://arm-doe.github.io/ACT/source/auto_examples/plot_state_variable.html#sphx-glr-source-auto-examples-plot-state-variable-py

[2022-06-27 15:07] #472 closed

[2022-06-27 18:43] #399 closed

[2022-06-28 00:05] maxwellevin commented on #472
This looks good to me, nice work @kenkehoe! I'll be using this feature for some new ARM vaps coming soon 😄

[2022-06-29 19:15] mgrover1 opened #486 "Card for potential discovery modules"
NOAA FTP/PSL Sites: https://psl.noaa.gov/data/obs/datadisplay/
IMPROVE: http://vista.cira.colostate.edu/Improve/
IMPROVE URL Generator: http://views.cira.colostate.edu/fed/Express/ImproveData.aspx
SPARTAN: https://www.spartan-network.org/kelowna-ca
Aeronet

[2022-06-29 19:16] AdamTheisen opened #487 "Continue readers for NOAA PSL Data"
There's a lot of different instruments deployed in the NOAA PSL Netowrk, developing readers for these would be beneficial, including with the upcoming AMF3 campaign coming up that will be in the vicinity of Courtland Airport

https://psl.noaa.gov/data/obs/sites/view_site_details.php?siteID=ctd

[2022-06-29 19:39] AdamTheisen commented on #487
Checklist of readers that need to be developed
- [ ] 915 MHz Wind Profiler Wind
- [ ] 915 MHz Wind Profiler Temperature
- [ ] 449 MHz Wind Profiler Wind
- [ ] 449 MHz Wind Profiler Temperature
- [ ] 3 GHz S-Band Moments
- [ ] Disdrometer Parsivel Optical
- [ ] Surface Meteorology (Data Logger CR100 link) - This has most of the other variables so would reduce readers
- [ ] GPSTrimble NetRS (Water V

[2022-07-06 14:56] mgrover1 opened #489 "Make the NOAA PSL reader more generic"
The current reader only works with wind profiler data from the CTD site (see https://github.com/ARM-DOE/ACT/blob/main/act/io/noaapsl.py#L36)... we need to make this more generic to support other sites, and other date types from this site since the files are similar in structure and the name of the reader is "NOAA PSL" which covers a wide range of data

[2022-07-08 15:21] #489 closed

[2022-07-08 15:22] mgrover1 commented on #487
With #490 merged, we now have two readers in! Planning on taking a look at the other frequency wind profilers after SciPy to make sure the current readers support those...

[2022-07-15 18:10] AdamTheisen opened #491 "read_psl_wind_profiler_temperature not reading full file"
It looks like the new function to read NOAA PSL temperature is not reading the full file.  For instance, the file linked below has 2 times in it 172536 and 175538 UTC but only the first one is being read in.  We need to update it to read in all times in the file.

https://downloads.psl.noaa.gov/psd2/data/realtime/Radar449/WwTempSubHourly/ctd/2022/196/ctd22196.17t

[2022-07-18 14:58] mgrover1 commented on #491
Thanks for letting me know @AdamTheisen - didn't realize there could be multiple times in a single file. I will get to this this week.

[2022-07-18 15:44] mgrover1 commented on #62
At SciPy last week, the Scientific Python group mentioned they have a list of SPECs for the community - including one on lazy loading of submodules (which is what we are aiming for here), speeding up import times.

Here is the SPEC - https://scientific-python.org/specs/spec-0001/

It is worth looking into this strategy + method to see if we can use it here.

[2022-07-18 15:57] mgrover1 opened #493 "ENH: Enable Hour/Minute Level of Searching with ARMLive API"
Currently, the hour/minute/second field of the ARM data access API is not being passed to the query, preventing the ability to search at this level. This is an issue when working with larger datasets (ex. x-band radar) where a day of data is 10s of GB in size and a user wants a small subset.

I put together some new logic over in this PR (https://github.com/pangeo-forge/staged-recipes/pull/153) fo

[2022-07-18 21:25] AdamTheisen commented on #493
@mgrover1 there is a way to set a time to download a specific file but not files within a specific time range.  Having that option would be useful.

https://github.com/ARM-DOE/ACT/blob/2e598c8f0aec1b36a773f16c65783e01f3fdb7b2/act/discovery/get_armfiles.py#L19

[2022-07-19 19:53] mgrover1 commented on #493
The question is how do we add this into the API...

Right now, the function takes in `startdate` and `enddate`, which are both strings. We basically have three options:

1. Allow start date and end date to be datetime objects, which allows us to pass seconds directly in there.
[code]

2. Add a starttime and endtime (formatted as `HHMMSS` as in `time`) field into the function

[code]

3. Add additi

[2022-07-19 21:28] AdamTheisen commented on #493
@mgrover1 I would lean towards option 3 and limit the options mainly because it's less change for the user and sticks with the ARM date convention YYYMMDD.  For all the formats we currently accept (YYYY-MM-DD, DD.MM.YYYY, DD/MM/YYYY, YYYYMMDD or YYYY/MM/DD), could we just add the option to look for 'THHMMSS' onto it?

[2022-07-19 22:12] kenkehoe commented on #487
I've been looking at SurfaceMet for NOAA PSL data as part of SAIL. I have an idea for the generic reader. Turns out the downloader pulls from the RAW area which does not have file headers in the file or documentation on the data. I'm looking into understanding this now and have an idea on how to resolve the different files.

[2022-07-20 14:03] mgrover1 commented on #493
We can - so should we support:
* HH:MM:SS
* THH:MM:SS
* HH-MM-SS

Should we just append onto each? Should we allow spaces in between?
ex. DD.MM.YYYYTHH:MM:SS, DD.MM.YYYYTHH:MM:SS

[2022-07-20 15:25] AdamTheisen commented on #493
@mgrover1 I think we should try and support what we currently have

- YYYY-MM-DD
- DD.MM.YYYY
- DD/MM/YYYY
- YYYYMMDD
- YYYY/MM/DD

and then allow the addition of THH:MM:SS onto each.  Would this be feasible?

[2022-07-20 15:46] mgrover1 commented on #493
Yup! I can submit a PR with that!

[2022-07-20 19:57] mgrover1 commented on #493
Just trying to think how we would this word this with the doc string/API...

[2022-07-25 14:27] #493 closed

[2022-07-25 17:52] #491 closed

[2022-07-25 20:48] mgrover1 opened #499 "BUG: Fix QC bug in tests"
Now CI is failing due to some bug on ubuntu systems

[code]

[2022-07-25 20:54] mgrover1 commented on #499
I think it has to do with the ARMLive API looking for the same day of data, setting the start and end time to be the same, which results in 0 results... We will need to add a check for this and some logic to see if two times are the same, to set to the beginning and end of the day.

[2022-07-26 15:41] #499 closed

[2022-07-27 18:44] AdamTheisen opened #502 "PSL Wind Profile Reader Hardcoded to CTD site"
Line 38 in io.noaapsl.read_psl_wind_profiler is hardcoded to the CTD site, we should automatically read the site code in and parse off of that or update to pass in a site name.

[2022-07-27 18:45] AdamTheisen commented on #502
@zssherman would you want to take a stab at this one?

[2022-07-28 02:17] zssherman commented on #502
@AdamTheisen Yeah I can take a look!

[2022-08-05 01:04] gg2 commented on #482
I know this one's closed, but I wanted to say "thank you" for making this update.

I ran into another problem with histograms in the same script as originally above. That pointed out I hadn't updated ACT and tried 1.1.9. 1.1.9 seems to generate histograms of data successfully. It looks like dropna() was implemented in ACT better than how I was using it.

I was simply applying it to the dataset (be

[2022-08-05 13:30] AdamTheisen commented on #482
Thanks @gg2 !  This one was all @mgrover1 's doing!

[2022-08-16 22:21] zssherman opened #509 "DOC: Submodule table not linking to functions in each module in API documentation"
When going to the API reference table with each submodule, act.corrections act.discovery etc, can't click to go to each submodule's function and classes.

[2022-08-17 19:12] #509 closed

[2022-08-19 13:37] AdamTheisen commented on #486
Adding NEON to that list.  They have a tower near where our NSA E12 site is going to be and it would be beneficial to be able to work with that data in ACT

[2022-08-23 19:20] #502 closed

[2022-08-23 23:58] AdamTheisen commented on #487
The FMCW read might work for the S-band moments as well.  Will have to test a little though

[2022-09-07 15:54] kenkehoe opened #522 "Expand add_nan keyword in plot() call for line plots."
Currently the add_nan keyword will fill in periods where data is missing larger than a time step to ensure the 2D plot does not stretch the colors across the missing data period. This will insert a column of NaN values to stop connecting the data points. The default is to plot lines with markers only, no lines. But if a linestyle is chosen and there is a large data gap, the plot will appear to hav

[2022-09-08 20:06] kenkehoe opened #523 "Add shading keyword to plotting calls."
Matplotlib is changing a default for pcolormesh that should currently be throwing a warning and will eventually be an error for not specifying the "shading" keyword when X and Y coordinate dimensions match data[X, Y] shape.

https://matplotlib.org/stable/gallery/images_contours_and_fields/pcolormesh_grids.html

We should add a keyword of shading='auto' to timeseriesdisplay.py plot() call in a way

[2022-09-08 20:32] zssherman commented on #523
Sounds good! Yeah we had to do something similar in Py-ART if I recall...

[2022-09-09 16:33] kenkehoe commented on #523
My mistake, looks like this is already implemented.

[2022-09-09 16:33] #523 closed

[2022-09-12 16:14] kenkehoe commented on #522
Updated with PR #525

[2022-09-12 16:14] #522 closed

[2022-09-12 16:15] kenkehoe commented on #487
@AdamTheisen I think my recent PR resolves Surface Meteorology (Data Logger CR100 link). Shall we check that one off the list?

[2022-09-12 16:27] AdamTheisen commented on #487
Done!

[2022-09-16 15:16] AdamTheisen opened #529 "ICARTT formatting error when using cleanup"
When I read in an ICARTT file and then try and run obj.clean.cleanup() to get it to CF standards, it throws the following error.  We should look at making the object compliant with what's needed for this cleanup.

[code]

[2022-09-19 19:32] kenkehoe opened #530 "Handling Incorrect ARM DQRs when applied with ACT function"
We have implemented a function to query the ARM Data Quality Report database to return time periods when data is flagged. There are three levels of flagging within the DQRs, with two of them able to replace the variable values with NaN. ARM has a lot of DQRs where the list of variables is not accurate, and is over listing the affected variables.

For example a DQR may indicate the instrument is ma

[2022-09-27 13:43] AdamTheisen opened #532 "ARM Data API Returns Text when File not Available"
I tried to download gucceilpblhtM1.a0 but it's not available through the webservice due to it being an a0-level file.  Instead the API returned text that was included in the file.  We should put in a check to ensure that these cases are caught and files are not produced.

[code]

[2022-09-27 18:00] zssherman opened #533 "Subpanel plots greater then index 2 seems to fail."
When plotting a suplot of size (2, 3) I receive this error:
[code]

[2022-09-27 18:04] zssherman commented on #533
End goal plot layout:
![Screenshot (243)](https://user-images.githubusercontent.com/19153455/192602751-e48c0968-d856-4ea1-8030-4cbee3dc285e.png)

[2022-09-28 18:07] AdamTheisen commented on #354
This has been completed with #521

[2022-09-28 18:07] #354 closed

[2022-09-28 18:12] AdamTheisen opened #536 "Ability to handle time_bounds"
A number of instruments have different methods for averaging to a timestamp, some have the timestamp at the end of the averaging interval and some as the start.  Two examples are the ARM ECOR and EBBR systems at the SGP site and include the time_bounds variable in the dataset.

It would be beneficial to have a generic function that could update these times to a standard timeframe.  I.e. default to

[2022-09-29 14:48] #533 closed

[2022-10-07 22:57] zssherman opened #539 "BUG: Possible bug in plotting example for xsectiondisplay"
Noticed in the example, Multidimensional cross sections, there is overlap of plots and text etc.
![download (2)](https://user-images.githubusercontent.com/19153455/194673207-5181396f-5883-43cb-8a56-49abf463acbd.png)

[2022-10-11 15:47] zssherman commented on #532
@AdamTheisen So files produced, so you want this instead to catch the warning, warn the user and just return from the function without writing anything?

[2022-10-11 16:58] AdamTheisen commented on #532
@zssherman yes, if the data are not available, we wouldn't want to write the files and would instead return the message as an error.  Right now, it just gives the false sense that it's downloading files

[2022-10-11 17:15] zssherman commented on #532
Gotcha sounds good

[2022-10-11 17:24] zssherman commented on #532
@AdamTheisen I see a return empty list and the warning, not sure where its downloading text still, I can turn it into an error message though and with no return

[2022-10-11 17:59] zssherman commented on #532
Nvm yep found it!

[2022-10-18 21:11] kenkehoe commented on #536
Yes this would be helpful. ADI has some code to do this I believe. Do we have any suggestions on how to interpolate the data?

[2022-10-18 21:13] kenkehoe opened #541 "Utility function to handle tar files"
There are times when the data files are delivered in a TAR file. The DQ Office have some utilities for handling TAR data files, including creation of a temporary directory and clean up after the extracted files are used. Would be good to add these utility functions to ACT for others to utilize.

[2022-10-18 21:28] zssherman commented on #541
I agree! I know In Py-ART we have functionality for this, let me see if I can dig it up.

[2022-10-19 12:08] AdamTheisen commented on #541
@kenkehoe do you think we would put this in the read functions so that if it's a .tar or .tar.gz file, it would call this utility to untar them into a temp directory, read in and then clean up?

[2022-10-19 12:09] AdamTheisen commented on #536
@kenkehoe ADI has it in a database but all the information we have should be in the time_bounds variable in the file.  I think we just need to set a standard that we are going to have the sample time mean the start of the averaging period and have a function to adjust the time accordingly.  I.e. like with the EBBR which has a sample time at the end of the averaging period.  I think this is more of

[2022-10-19 15:43] kenkehoe commented on #541
OK I'll put in read functions. Good idea.

[2022-11-01 17:57] caghili opened #547 "Ability to see DQR Report link with add_dqr_to_qc (or an additional class to the QC module)"
Something along these lines, having the ability to get the DQR report for a datasteam of interest via python  would cut down on some time.  like somehow spit out a link after add_dqr_to_qc. Since sometimes datastreams have no dqr reports.

[2022-11-01 18:01] caghili opened #548 "Have both QC and DQR classes apply filtering work done to the attributes section"
When you load a file into xarray, you see  the attributes of the file. I was wondering if after applying
 QC  obj.clean.cleanup() or
DQR  add_dqr_to_qc(obj, variable=None, assessment='incorrect,suspect', exclude=None, include=None, normalize_assessment=True,  cleanup_qc=True)

these could be up dated to reflect that. So once you save out the file then reload it you can see the filtering done on a

[2022-11-01 19:19] #62 closed

[2022-11-02 18:11] mgrover1 commented on #548
Thank you for this suggestion - is this something you would be interested in contributing?

[2022-11-03 15:01] kenkehoe commented on #541
In the current PR I have utility functions for creation of TAR and gunzip files, extraction of TAR and gunzip, cleanup of extracted TAR directory and implemented into general reading routine. I assume the functions all exist in Mac, Linux, Windows but we will see with testing.

[2022-11-03 18:11] kenkehoe commented on #547
Would make sense to create a new function/method to get this information and print out. Maybe create a function to pass in datastreams and date range. Also a method to loop through datastreams and variables in dataset time range.

[2022-11-03 18:15] kenkehoe commented on #529
Can you provide an example dataset?

[2022-11-03 18:16] mgrover1 opened #550 "Add a PieChartDisplay to Support the Aerosol Community"
Pie charts are helpful when working with aerosol data. We should have this functionality in ACT.

[2022-11-03 18:17] kenkehoe commented on #486
Is there also a NEON site near new BNF site? Are there any other datasets available near the BNF site? Was planning to add readers to those datasets if so. I'll look into NEON data reader.

[2022-11-03 18:23] kenkehoe commented on #541
Looks to be an issue with a temporary directory call within a temporary directory call.

[2022-11-03 18:38] AdamTheisen commented on #486
@kenkehoe there is a site more to the South so I'm not sure how much that team will leverage that NEON tower.  Either way, NEON has a nice resource for working with their [API using Python](https://www.neonscience.org/resources/learning-hub/tutorials/neon-api-01-introduction-requests).  There are a number of different Alabama mesonets, but I have not found any way to access their data (https://wx.

[2022-11-03 18:48] AdamTheisen opened #551 "Missing ICARTT IO in __init__.py"
In /ACT/act/io/__init__.py, the icartt information is not listed like the others.  We need to add it in.

[2022-11-03 18:49] AdamTheisen commented on #529
@kenkehoe  I was just using the sample_file in the test area (EXAMPLE_AAF_ICARTT) but now I just tried this and it's saying that the object does not have a an attribute "clean" so I think something got a little off with recent updates here.

[2022-11-03 19:54] AdamTheisen opened #552 "Accessor not available in dataset"
I fetched the latest updates after the lazy_loading PR and ran pytest and am seeing a lot of errors with accessors not loading.  Clean, QCFilter, and QCTests are no longer available in the datasets for some reason.

FAILED test_io.py::test_io_mfdataset - AttributeError: 'Dataset' object has no attribute 'clean'
FAILED test_io.py::test_io_write - AttributeError: 'Dataset' object has no attribute 'c

[2022-11-03 20:02] mgrover1 commented on #552
@AdamTheisen can you provide a code snippet to reproduce the error

[2022-11-03 20:05] AdamTheisen commented on #552
@mgrover1 see below.  I went to the ACT/act/__init__.py file and added in `from .qc import clean, QCFilter, QCTests` and that fixed the issues I was seeing but not sure that's the right way.

[code]

The other option is to just run pytest test_io.py in the test area

[2022-11-03 21:29] #552 closed

[2022-11-03 21:51] #551 closed

[2022-11-04 11:07] #529 closed

[2022-11-04 13:23] #532 closed

[2022-11-04 14:46] caghili commented on #548
I would, was sick the other day, however I'm very busy supporting other groups. If I were to support it'd be the odd hour here and there (I could see how things progress and get to know this group).

[2022-11-07 21:31] kenkehoe opened #557 "Setting time_rng in timeseriesdisplay with datetime instead of datetime64"
Previously we were able to set the timeseriesdisplay.plot() keyword time_rng with a list of datetime.datetime values. The update from PR #534 removed this ability. Appears the values must be numpy.datetime64 values now. We have a lot of code that set the xrange with a list of datetime.datetime values. We should add ability to enter range in multiple formats.

[2022-11-11 20:30] AdamTheisen commented on #487
I'm removing the GPS one from the list for now.  The documentation does not line up with the readable file so there is no way of telling that we are parsing it correctly.  Once #559 is merged in we can check the last one off the list and close out.

[2022-11-11 20:35] AdamTheisen commented on #57
@kenkehoe  coming back to this.  I would have reservations about putting in anything that modifies the data without the user knowing.  I.e. if we defaulted to resample at 1-minute.  I think it is best for the user to resample as they see fit.  Maybe all we really need is to note this in the documentation.  Thoughts?

[2022-11-11 20:57] kenkehoe commented on #57
I agree downsampling the data before plotting is not something we should default. I was thinking we could provide some documentation on this issue and a keyword that the user could pass in to perform a downsampling before plotting. That way the user knows the data is downsampled to their desired time/height steps. The default would be no downsampling. Or maybe just providing examples to downsample

[2022-11-11 21:22] AdamTheisen commented on #57
I like providing the examples as it's already there in xarray and easy to do in one line of code.  I'll see what I can do

[2022-11-11 21:30] AdamTheisen commented on #67
I think I have a method down here that uses the NetCDF4 library.  The only question then is if we want to expand the function to breakout the modes.

[2022-11-14 17:07] #67 closed

[2022-11-15 18:37] #541 closed

[2022-11-15 19:10] #557 closed

[2022-11-15 19:13] zssherman commented on #487
Finished, closing

[2022-11-15 19:13] #487 closed

[2022-11-15 20:29] kenkehoe opened #564 "Managing vector lat/lon for day_night_background when one is a scalar"
It is possible for multiple files to be read in and lat or lon to be a vector because the values change between the files. Only the lat/lon that change will be converted into a vector. The other one will remain a scalar. The current logic for extracting lat/lon for day_night_background assumes if lat is vector both are vectors. We need to check each independently.

Should be a change in act.plotti

[2022-11-15 20:34] zssherman commented on #539
When using figsize, the figure does not change for xsectiondisplay. Trying to find why this is the case.

[2022-11-15 21:37] #539 closed

[2022-11-16 03:17] #460 closed

[2022-11-16 03:22] #57 closed

[2022-11-16 16:52] kenkehoe opened #566 "Improve navigating the examples"
Currently the examples README.txt  file has a link to the Discussions area. I think the formatting is wrong as the hyperlink returns a 404 error. But I think we should update the README.txt file to more of the heavy lifting to point the user to the correct example than pointing the user to the Discussion area. We may need to rename some of the examples as everything starts with plot_* but not ever

[2022-11-16 17:45] AdamTheisen commented on #566
@kenkehoe that's strange as the link takes me to the discussions page.  I'm not seeing an error.  Can you copy the link and past here that you're seeing?

That is a good point on the examples.  I'm wondering if a FAQ page would be useful so we can explain and point to the examples.  A TOC might get a little long if we try and explain what each example is doing or trying to show.  @mgrover1  any th

[2022-11-16 18:41] kenkehoe commented on #566
@AdamTheisen

https://github.com/ARM-DOE/ACT/discussions%3E%60_

[2022-11-16 19:45] zssherman opened #570 "CI: Continuous integration stalls around get_ord testing. Need to pinpoint further"
The CI stalls early on near the get_ord unit tests, no rhyme or reason, happens randomly in one of the test suites (ex: ubuntu 3.7). Need to find a way to skip or rerun if tests take too long.

[2022-11-16 20:24] AdamTheisen commented on #566
I think we figured out that this was related to the actual README in the github repo and not the actual examples page in the documentation.  I think changing the examples README to rst would fix this.

[2022-11-16 21:40] mgrover1 commented on #566
I would be in favor of adding a more robust user guide, instead of an FAQ section.

[2022-11-17 01:15] AdamTheisen commented on #566
@mgrover1 do you know of any examples we could follow for this kind of interface?

[2022-11-17 14:54] mgrover1 commented on #566
@AdamTheisen - the [MetPy User Guide](https://unidata.github.io/MetPy/latest/userguide/index.html) is really nice! And something similar for ACT would be the best solution I think.

[2022-11-17 19:21] mgrover1 opened #573 "FIX: Add MetPy back into requirements"
We need to add MetPy back into the requirements, as well as update the examples that have MetPy as an optional dependency.

It is already in our feedstock.

[2022-11-17 19:23] AdamTheisen opened #574 "Missing ICARTT under Optional Requirements in main README"

[2022-11-17 19:30] AdamTheisen commented on #566
Plan is to categorize the existing examples and then come up with common questions for a How To Guide.

[2022-11-17 19:34] mgrover1 commented on #566
Let's separate the examples by which module they come from (ex. retrievals)

[2022-11-17 19:41] AdamTheisen commented on #573
@zssherman when you do this can you remember to update the readme as well to move these out of the optional dependencies section?  Also, while at it could you add ICARTT into the optional dependency area which would close out #574 as well?

[2022-11-18 19:34] #564 closed

[2022-11-18 20:07] AdamTheisen opened #577 "Py-ART/Cartopy as an Optional Dependency"
Py-ART is an optional dependency because it's only used in one function at the moment however, it is listed as a requirement in the act-atmos feedstock.  I think we need to update the test_utils.py test to look for Py-ART and not run the test if it's not installed.

Similarly for the geo-plotting as cartopy is just an optional dependency

[2022-11-23 14:03] #574 closed

[2022-11-30 19:52] #573 closed

[2022-11-30 19:52] #577 closed

[2022-11-30 19:53] zssherman commented on #570
@AdamTheisen, so it seems testing will randomly hang on the unittest for get_ord. One option i saw is we can add a pytest.mark.timeout to were if the test takes to long it moves on, every PR we tend to get 2-3 of the environments timing out because of the tests and have to rerun it. Trying to think of other options.